<div class="card" style="width: 100%">
    <div class="card-header border-dark" style="background-color: #004a73">
        <label class="h5 text-white" style="margin: 0% 0%">Seguimiento de Actividades </label>
    </div>
    <div class="card-header">
        <div class="card-group">
            <div class=" col-sm-12" style="text-align: center">
                <label class="h4 text-dark" style="margin: 0% 0% 2% 0%;">{{facultad}} </label>
            </div>
        </div>
        <div class="card-group" style="margin: 0% 0% -2% 0%;">
            <div class="col-sm-4">
                <div class=" form-group row" style="margin: 0px;">
                    <div class="col-md-12">
                        <div style="text-align:left">Carreras:</div>
                    </div>
                </div>
                <div class=" form-group row">
                    <div class="col-md-12">
                        <jqxDropDownList #dropDownCarrera [theme]="'ui-redmond'" [selectedIndex]="-1"
                            [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'"
                            [source]="dataAdapterCarrera" [height]='22' [filterable]="true"
                            (onSelect)="ListarProyectos()">
                        </jqxDropDownList>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group row" style="margin: 0px;">
                    <div class="col-md-12">
                        <label style="padding: 0; margin: 0 5px;">Proyectos:</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12" style="padding: 0px">
                        <jqxDropDownList #dropDownProyectos [height]="22" [width]="'100%'"
                            [displayMember]="'tituloProyecto'" [valueMember]="'idProyecto'" [theme]="'ui-redmond'"
                            [source]="dataAdapterProyecto" [selectedIndex]="-1"
                            (onSelect)="ListarConsolidados()">
                        </jqxDropDownList>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-group" style="margin: 0% 0% -2% 0%;">
            <div class="col-sm-4">
                <div class=" form-group row" style="margin: 0px;">
                    <div class="col-md-12">
                        <div style="text-align:left">Consolidado:</div>
                    </div>
                </div>
                <div class=" form-group row">
                    <div class="col-md-12">
                        <jqxDropDownList #dropDownConsolidado [theme]="'ui-redmond'" [selectedIndex]="-1"
                            [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'"
                            [source]="dataAdapterConsolidado" [height]='22' [filterable]="true"
                            (onSelect)="ListarActividadesRealizadas()">
                        </jqxDropDownList>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <jqxTabs #jqxTabsPrincipal [theme]="'ui-redmond'">
            <ul>
                <li>Actividades Docente</li>
                <li [hidden]="mostrarActividad">Actividades Estudiantes</li>
            </ul>
            <div>
                <jqxGrid #gridActividadesRealizadas style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
                    [source]="dataAdapterActividadesRealizadas" [columns]="columnsActividadesRealizadas"
                    [filterable]="false" [localization]="localization" [autoheight]="true" [pageable]="true"
                    [autorowheight]="true" [sortable]="false" [editable]="false" [showtoolbar]="true"
                    [rendertoolbar]="rendertoolbar" (onRowclick)="Rowselect($event)">
                </jqxGrid>
            </div>
            <div>
                <jqxGrid #gridActividadesRealizadasEst style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
                    [source]="dataAdapterActividadesRealizadasEst" [columns]="columnsActividadesRealizadasEst"
                    [filterable]="false" [localization]="localization" [autoheight]="true" [pageable]="true"
                    [autorowheight]="true" [sortable]="false" [editable]="false" [showtoolbar]="true"
                    [rendertoolbar]="rendertoolbar1" (onRowclick)="RowselectEst($event)">
                </jqxGrid>
            </div>
        </jqxTabs>

    </div>
    <div class="card-footer border-dark" style="background-color:rgb(68, 154, 201)">
        <div class="col-sm-12" style="margin-bottom: -20px">
            <div class="form-group row">
                <div class="col-md-4">
                    <div class="text-white" style="text-align:left">Docente Colaborador:</div>
                </div>
                <div class="col-md-8">
                    {{participanteProyecto}}
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-informe-actividades (PassMethods)="procesaPassMethods($event)"></app-modal-informe-actividades>
<app-modal-component></app-modal-component>