<div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%">
        <div class="card-header">
          <h4 style="padding: 0; margin: 0;">Consolidado de Actividades</h4>
        </div>
        <div class="card-body">
          <jqxGrid #gridConsolidado [theme]="'ui-redmond'" [width]="'100%'"
            [source]="dataAdapterConsolidado" [columns]="columnsConsolidado" [virtualmode]="false"
            [filterable]="true" [pageable]="true" [autoheight]="true" [sortable]="true" [altrows]="true"
            [enabletooltips]="true" [localization]="localization" [autorowheight]="true" [hidden]="isCollapsed"
            [rowdetails]="true" [initrowdetails]="initRowDetails" [ready]="ready" [rendertoolbar]="rendertoolbar" 
            [rowdetailstemplate]="rowdetailstemplate" (onRowclick)="Rowselect($event)" [showtoolbar]="true">
          </jqxGrid>
        </div>
        
      </div>
    </div>
  </div>
  <app-modal-seguimiento-actividad (PassMethods)="procesaPassMethods($event)"></app-modal-seguimiento-actividad>
  <app-modal-component></app-modal-component>