
<div class="card card-accent-info">
  <div class="card" style="width: 100%">
    <div class="card-header" >
      <jqxMenu style='margin-left: 3px; margin-top: 5px;' #jqxMenu (onItemclick)="itemclick($event)" [source]="menus"
      [theme]="'ui-redmond'" [width]="'auto'" [height]="30" >
    </jqxMenu>
  </div>
  <div class="card-body">
    <!-- <jqxExpander style='margin-left: 3px; margin-top: 5px;' [theme]="'darkblue'" [width]="'auto'" [showArrow]="false"
    [toggleMode]="'none'" > -->
    <jqxValidator #myValidator [rules]="rules" [hintType]="'label'">
      <form id='formDocente' action="./" >
            <div class="card1" >
              <div class="card card-accent-info" >
                <div class="card-header">
                  <h4 style="padding: 0; margin: 0;">Información Personal</h4>
                </div>
                <div class="card-body">
                  <div class="row" >
                    <div class="col-sm-12">
                      <jqxCheckBox [width]="'100%'" [height]="'100%'" [theme]="'ui-redmond'" #checkBoxValCedula style="margin: 0px;">
                        No validar cédula/marque esta opción 
                        en el caso de extranjeros</jqxCheckBox>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-sm-2">
                      <div  style="text-align:left">Identificación: </div>
                    </div>
                    <div class="col-sm-4">
                      <jqxInput #txtIdenficacion class="identificacionInput"  [width]="'100%'"  [height]="22"
                      name="identificacion" [(ngModel)]="personaAng.identificacion" [maxLength]="10" [theme]="'ui-redmond'"
                      (onChange)="ChangeInputIdenficacion($event)"></jqxInput>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-sm-2">
                      <div  style="text-align:left">Apellidos: </div>
                    </div>
                    <div class="col-sm-4">
                      <jqxInput #txtApellidos class="apellidosInput" [width]="'100%'" [height]="22" name="apellidos" [theme]="'ui-redmond'"
                        [(ngModel)]="personaAng.apellidos" [maxLength]="30">
                      </jqxInput>
                    </div>
                    <div class="col-sm-2">
                      <div  style="text-align:left">Nombres: </div>
                    </div>
                    <div class="col-sm-4">
                      <jqxInput #txtNombres class="nombresInput"  [width]="'100%'"  [height]="22" name="nombres" [theme]="'ui-redmond'"
                      [(ngModel)]="personaAng.nombres" [maxLength]="30"></jqxInput>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-sm-2">
                      <div  style="text-align:left">Fecha nacimiento: </div>
                    </div>
                    <div class="col-sm-4">
                      <jqxDateTimeInput #dateFechaNace class="fecha_naceInput" [width]="'100%'" [height]="22"
                      [(ngModel)]="varFechaNacimiento" (onValueChanged)="valueChangedFechaNacimiento()" [theme]="'ui-redmond'"
                      [template]="'primary'" name="fechaNace" [disabled]="false">
                    </jqxDateTimeInput>
                    </div>
                    <div class="col-sm-2">
                      <div  style="text-align:left">Sexo: </div>
                    </div>
                    <div class="col-sm-4">
                      <jqxDropDownList #comboGenero class="generoInput" [width]="'100%'"  [height]="22" name="genero"
                        [source]="sourceGenero" [selectedIndex]="-1" [theme]="'ui-redmond'" [displayMember]="'genero'"
                        [valueMember]="'codigo'" [(ngModel)]="personaAng.genero">
                      </jqxDropDownList>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-sm-2">
                      <div  style="text-align:left">Teléfono: </div>
                    </div>
                    <div class="col-sm-4">
                      <jqxMaskedInput #masketTelefono class="telefonoInput"  [width]="'100%'" [height]="22" name="telefono" [theme]="'ui-redmond'"
                      [mask]="'#########'" [(ngModel)]="personaAng.telefono"></jqxMaskedInput>
                    </div>
                    <div class="col-sm-2">
                      <div  style="text-align:left">Celular: </div>
                    </div>
                    <div class="col-sm-4">
                      <jqxMaskedInput #masketCelular class="celularInput"  [width]="'100%'"  [height]="22" name="celular" [theme]="'ui-redmond'"
                        [mask]="'##########'" [(ngModel)]="personaAng.celular"></jqxMaskedInput>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-sm-2">
                      <div  style="text-align:left">E-mail-personal: </div>
                    </div>
                    <div class="col-sm-4">
                      <jqxInput #txtEmailPersonal class="email_personalInput" [placeHolder]="'docente@mail.com'" [theme]="'ui-redmond'"
                      name="email_personal" [width]="'100%'" [height]="22" [(ngModel)]="personaAng.email_personal">
                    </jqxInput>
                    </div>
                    <div class="col-sm-2">
                      <div  style="text-align:left">E-mail-institucional:</div>
                    </div>
                    <div class="col-sm-4">
                      <jqxInput #txtEmailInstitucional class="email_institucionalInput" [theme]="'ui-redmond'"
                      [placeHolder]="'docente@mail.com'" name="email_institucional" [width]="'100%'" [height]="22"
                      [(ngModel)]="personaAng.email_institucional">
                    </jqxInput>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-sm-2">
                      <div  style="text-align:left">Ciudad: </div>
                    </div>
                    <div class="col-sm-4">
                      <jqxTextArea #txtAreaDireccion class="ciudadInput" [width]="'100%'"  [height]="22"
                         name="ciudad" [placeHolder]="'Ingrese ciudad'" [theme]="'ui-redmond'"
                        [(ngModel)]="personaAng.ciudad">
                      </jqxTextArea>
                    </div>
                    <div class="col-sm-2">
                      <div  style="text-align:left">Dirección:</div>
                    </div>
                    <div class="col-sm-4">
                      <jqxTextArea #txtAreaDireccion class="direccionInput" [width]="'100%'" [height]="50"
                      [maxLength]="40" name="direccion" [placeHolder]="'Ingrese dirección'" [theme]="'ui-redmond'"
                      [(ngModel)]="personaAng.direccion">
                    </jqxTextArea>
                    </div>
                  </div>
                  
                  
                  <!-- <tr>
                    <td [width]="200">Foto:</td>
                    <td colspan="3">
                      <input type="file" (change)="selectFileOut($event)" #fileInput>
                    </td>
                    <td>
                      <div *ngIf="foto">
                        <img [src]="foto" [width]="'100%'" height="90px" name="foto">
                      </div>
                    </td>
                    </tr> -->
                </div>
              </div>
            </div> 
            <div class="card2">
              <div class="card card-accent-info">
                <div class="card-header">
                  <h4 style="padding: 0; margin: 0;">Formación Profesional</h4>
                </div>
                <div class="card-body">
                  <jqxGrid #gridFormacionProfesional style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
                    [source]="dataAdapterFormacionProfesional" [columns]="columnsFormacionProfesional" [filterable]="false"
                      [localization]="localization"  [autoheight]="true" [selectionmode]="'none'"
                      [autorowheight]="true" [sortable]="false" [editable]="true"
                      [showtoolbar]="true" [rendertoolbar]="rendertoolbar">
                  </jqxGrid>
                </div>
              </div>
            </div>
            
            <div class="card2">
                <div class="card card-accent-info">
                    <div class="card-header">
                      <h4 style="padding: 0; margin: 0;">Actualización Profesional </h4>
                    </div>
                    <div class="card-body">
                        <jqxGrid #gridActualizacionProfesional style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
                          [source]="dataAdapterActualizacionProfesional" [columns]="columnsActualizacionProfesional" [filterable]="false"
                          [autoheight]="true" [localization]="localization" 
                          [autorowheight]="true" [sortable]="false" [editable]="true" [columngroups]="columngroups"
                          [showtoolbar]="true" [rendertoolbar]="actualizacionProfesionalMenu"
                          >
                      </jqxGrid>
                    </div>
                </div>
              </div>
            <div class="card2">
            <div class="card card-accent-info">
                <div class="card-header">
                  <h4 style="padding: 0; margin: 0;">Historial Docente</h4>
                </div>
                <div class="card-body">
                    <jqxGrid #gridDocenteHistorial style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
                    [source]="dataAdapterDocenteHistorial" [columns]="columnsDocenteHistorial" [filterable]="false"
                        [autoheight]="true" [localization]="localization" 
                      [autorowheight]="true" [sortable]="false" [editable]="true"
                      [showtoolbar]="true" [rendertoolbar]="createButtonsContainers"
                      >
                  </jqxGrid>
                </div>
            </div>
          </div>
          
         
        
      </form>
    </jqxValidator>
  <!-- </jqxExpander> -->
  </div>
    


</div>
</div>
<app-modal-component></app-modal-component>

<pre>
<!-- {{personaAng | json}} -->
<!-- {{pojoReglamento | json}}   -->
<!-- {{dataAdapterTiposMatricula | json}}   -->
</pre>