<div class="card" style="width: 100%">
    <div class="card-header border-dark" style="background-color: #004a73">
        <label class="h5 text-white" style="margin: 0% 0%">Consolidado de Actividades </label>
    </div>
    <div class="card-header">
        <div class="form-group row">
            <div class="col-md-12">
                <div class=" form-group row" style="margin:0px">
                    <div class=" col-sm-12" style="text-align: center">
                        <label class="h4 text-dark" style="margin: 0% 0%">{{facultad}} </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <jqxTabs #jqxTabsPrincipal [theme]="'ui-redmond'">
            <ul>
                <li>Consolidado Actividades Docente</li>
                <li [hidden]="mostrarActividad">Consolidado Actividades Estudiantes</li>
            </ul>
            <div>
                <jqxGrid #gridActividadesRealizadas style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
                    [source]="dataAdapterActividadesRealizadas" [columns]="columnsActividadesRealizadas"
                    [filterable]="false" [localization]="localization" [autoheight]="true" [pageable]="true"
                    [autorowheight]="true" [sortable]="false" [editable]="false" [showtoolbar]="true"
                    [rendertoolbar]="rendertoolbar" (onRowclick)="Rowselect($event)">
                </jqxGrid>
            </div>
            <div>
                <jqxGrid #gridActividadesRealizadasEst style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
                    [source]="dataAdapterActividadesRealizadasEst" [columns]="columnsActividadesRealizadasEst"
                    [filterable]="false" [localization]="localization" [autoheight]="true" [pageable]="true"
                    [autorowheight]="true" [sortable]="false" [editable]="false" [showtoolbar]="true"
                    [rendertoolbar]="rendertoolbar1" (onRowclick)="RowselectEst($event)">
                </jqxGrid>
            </div>
        </jqxTabs>

    </div>
    <div class="card-footer border-dark" style="background-color:rgb(68, 154, 201)">
        <div class="col-sm-12" style="margin-bottom: -20px">
            <div class="form-group row">
                <div class="col-md-4">
                    <div class="text-white" style="text-align:left">Docente Colaborador:</div>
                </div>
                <div class="col-md-8">
                    {{participanteProyecto}}
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-informe-actividades (PassMethods)="procesaPassMethods($event)"></app-modal-informe-actividades>
<app-modal-component></app-modal-component>