<jqxValidator #myValidator [rules]="rules" [hintType]="'label'">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%">
        <div class="card-header">
          <jqxMenu #jqxMenu (onItemclick)="itemclick($event)" [source]="menus" [theme]="'ui-redmond'" [width]="'100%'">
          </jqxMenu>
        </div>
        <div class="card-header">
          <h4 style="padding: 0; margin: 0;">Descripcíon General</h4>
        </div>
        <div class="card-body text-dark">
          <div style="margin-top: 1%"></div>
          <div class="form-row">
            <div style="width: 100px; padding-right: 1%;">
              <label>Subir Nueva Versión:</label>
            </div>
            <div style="width: 200px;padding-right: 3%;">
              <jqxFileUpload [width]="300" [uploadUrl]="'imageUpload.php'" [theme]="'ui-redmond'"
                [fileInputName]="'fileToUpload'">
              </jqxFileUpload>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <div class="col-md-6">
                <div class="card2">
                  <div class="card card-accent-info">
                    <div class="card-header">
                      <h4 style="padding: 0; margin: 0;">Versiones de Proyecto</h4>
                    </div>
                    <div class="card-body">
                      <jqxGrid #gridVersionProyectos [theme]="'ui-redmond'" [width]="'100%'"
                        [source]="dataAdapterFormacionProfesional" [columns]="columnsVercionesProyectos"
                        [filterable]="false" [localization]="localization" [autoheight]="true" [selectionmode]="'none'"
                        [autorowheight]="true" [sortable]="false" [editable]="true" [showtoolbar]="true"
                        [rendertoolbar]="rendertoolbar">
                      </jqxGrid>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card2">
                  <div class="card card-accent-info">
                    <div class="card-header">
                      <h4 style="padding: 0; margin: 0;">Versiones de Matriz Ex-Ante </h4>
                    </div>
                    <div class="card-body">
                      <jqxGrid #gridVersionMatriz [theme]="'ui-redmond'" [width]="'100%'"
                        [source]="dataAdapterActualizacionProfesional" [columns]="columnsVersionesMatriz"
                        [filterable]="true" [autoheight]="true" [localization]="localization" [autorowheight]="true"
                        [sortable]="true" [editable]="true" [columngroups]="columngroups" [showtoolbar]="true" >
                      </jqxGrid>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card-body">
            <jqxGrid #gridDatosPrueba [filterable]="true" [hidden]="isCollapsed" style='margin-left: 3px;'
              [theme]="'ui-redmond'" [width]="'100%'" [autorowheight]="true" [source]="dataAdapterListaFacultad"
              [columns]="columns" [pageable]="true" [rowdetails]="true" [initrowdetails]="initRowDetails" [height]="390"
              (onRowexpand)="Rowexpand($event)" [ready]="ready" [rowdetailstemplate]="rowdetailstemplate">
            </jqxGrid>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card">
      <div class="card-footer">
        <jqxButton #myButtonVer [width]="'60'" [height]="'25'" [theme]="'ui-redmond'" (click)="controlIsCollapsedVer()">
          ver
        </jqxButton>
      </div>
    </div>
    <div class="card-body">
      <ngx-extended-pdf-viewer #myPdfViewer [src]="pdfSrc" [hidden]="isCollapsedPdf" backgroundColor="#ffffff"
        [height]="'90vh'" [useBrowserLocale]="true">
      </ngx-extended-pdf-viewer>
    </div>
  </div>
</jqxValidator>

<app-modal-component></app-modal-component>