<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="login()">
                  <h1>Iniciar sesión</h1>
                  <p class="text-muted">Iniciar sesión en su cuenta</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="usuario.usuario" name="usuario" placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" [(ngModel)]="usuario.claveAuxiliar" name="claveAuxiliar" placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <!--
                        <button type="submit" class="btn btn-primary px-4">Login</button>
                      -->
                      <button mat-raised-button class="btn btn-primary px-4" type="submit"
                      [disabled]="!loginForm.form.valid">Iniciar sesión</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Olvidó su contraseña?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                  <img src="assets/upse-logo.png" class="img-avatar" style="width:70%"/>
                <!--<div>
                  <h2>Regístrate</h2>
                  <p>Bienvenido al sistema de integrado de información académica de la Universidad Estatal Península de Santa Elena.</p>
                  <button type="button" class="btn btn-primary active mt-3">Registrate ahora!</button>
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
