<div >
  <div class="card-header border-dark" style="background-color: #004a73">
    <label class="h5 text-white" style="margin: 0% 0%">Datos Institución </label>
  </div>
  <div class="card-group" style="margin: 5px;">
    <div class="card">
      <div class="card-title">
        <strong style="padding: 0; margin: 10px 15px;">Área de Conocimiento - UNESCO</strong>
      </div>

      <div class="col-sm-12">
        <div class="form-group row">
          <div class="col-md-4">
            <label style="padding: 0; margin: 0 15px;">Área:</label>
          </div>
          <div class="col-md-8">
            <jqxDropDownList #dropDownArea [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
              [valueMember]="'id'" [theme]="'ui-redmond'" [source]="dataAdapterArea" [selectedIndex]="-1"
              (onSelect)="ListarSubArea($event)">
            </jqxDropDownList>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <label style="padding: 0; margin: 0 15px;">Sub Área:</label>
          </div>
          <div class="col-md-8">
            <jqxDropDownList #dropDownSubArea [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
              [valueMember]="'id'" [theme]="'ui-redmond'" [filterable]="true" [source]="dataAdapterSubArea"
              [selectedIndex]="-1" (onSelect)="ListarSubAreaEsp($event)">
            </jqxDropDownList>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <label style="padding: 0; margin: 0 15px;">Sub Área Especifica:</label>
          </div>
          <div class="col-md-8">
            <jqxDropDownList #dropDownSubAreaEsp [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
              [valueMember]="'id'" [theme]="'ui-redmond'" [filterable]="true" [source]="dataAdapterSubAreaEsp"
              [selectedIndex]="-1">
            </jqxDropDownList>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="col-sm-12" style="margin-left:-15px">
        <div class="card">
          <div class="form-group row">
            <div class="col-md-4">
              <label style="padding: 0; margin: 0 15px;">Domínios Académicos:</label>
            </div>
            <div class="col-md-8">
              <jqxDropDownList #dropDownDominioAcad [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
                [valueMember]="'id'" [theme]="'ui-redmond'" [filterable]="true" [source]="dataAdapterDominioAcad"
                [selectedIndex]="-1">
              </jqxDropDownList>
            </div>
          </div>
        </div>
        <div class="form-group row" style="margin-top: -10px;margin-bottom: 0px">
          <div class="col-md-4">
            <label style="padding: 0; margin: 0 15px;">Líneas de Investigación:</label>
          </div>
          <div class="col-md-8">
            <jqxDropDownList #dropDownLineaInv [height]="22" [width]="'100%'" [displayMember]="'descripcionLinea'"
              [valueMember]="'idLineaInv'" [theme]="'ui-redmond'" [filterable]="true" [source]="dataAdapterLineaInv"
              [selectedIndex]="-1" (onSelect)="ListarSubLineas($event)">
            </jqxDropDownList>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <label style="padding: 0; margin: 0 15px;">Sub Lineas:</label>
          </div>
          <div class="col-md-8">
            <jqxDropDownList #dropDownSubLinea [height]="22" [width]="'100%'" [displayMember]="'descripcionSubLi'"
              [valueMember]="'idSubLinea'" [theme]="'ui-redmond'" [filterable]="true" [source]="dataAdapterSubLinea"
              [selectedIndex]="-1">
            </jqxDropDownList>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-component></app-modal-component>