<div class="row">
  <div class="col-sm">
    <div class="card" style="width: 100%">
      <div class="card-header">
        <h4 style="padding: 0; margin: 0;">Listado de Convocatorias</h4>
      </div>
      <div class="card-header">
        <jqxMenu (onItemclick)="itemclick($event)" [source]="menuConvocatoria" [theme]="'ui-redmond'" [width]="'100%'"
          [height]="30">
        </jqxMenu>
      </div>
      <div class="card-body">
        <jqxGrid #gridConvocatoriasRegistrados [theme]="'ui-redmond'" [width]="'100%'"
          [source]="dataAdapterConvocatoriasRegistrados" [columns]="columnsConvocatorias" [virtualmode]="false"
          [filterable]="true" [pageable]="true" [autoheight]="true" [sortable]="true" [altrows]="true"
          [enabletooltips]="true" [localization]="localization" [autorowheight]="true" [hidden]="isCollapsed"
          [rowdetails]="true" [initrowdetails]="initRowDetails" [ready]="ready"
          [rowdetailstemplate]="rowdetailstemplate" (onRowclick)="Rowselect($event)">
        </jqxGrid>
      </div>
      
    </div>
  </div>
</div>
<app-modal-convocatoria (PassMethods)="procesaPassMethods($event)"></app-modal-convocatoria>
<app-modal-component></app-modal-component>