<div class="row" style="position: relative;">
  <div class="col-sm-12">
    <div class="card" style="width: 100%">
      <div class="card-header" style="width: 100%">
        <!--<div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <div class="col-md-2">
                <label>Facultades:</label>
              </div>
              <div class="col-md-4">
                <jqxDropDownList #dropDownFacultad [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
                  [valueMember]="'id'" [theme]="'darkblue'" [filterable]="true" [source]="dataAdapterFacultad"
                  [selectedIndex]="-1">
                </jqxDropDownList>
              </div>
              <div class="col-md-2">
                <div style="text-align:left">Carreras:</div>
              </div>
              <div class="col-md-4">
                <jqxDropDownList #dropDownCarrera [theme]="'darkblue'" [selectedIndex]="-1"
                  [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'" [source]="dataAdapterCarrera"
                  [height]='22' [filterable]="true">
                </jqxDropDownList>
              </div>
              <div class="col-md-2">
                <label>Programas:</label>
              </div>
              <div class="col-md-4">
                <jqxDropDownList #dropDownProgramas [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
                  [valueMember]="'id'" [theme]="'darkblue'" [filterable]="true" [source]="dataAdapterProgramas"
                  [selectedIndex]="-1">
                </jqxDropDownList>
              </div>
              <div class="col-md-2">
                <label>Proyectos:</label>
              </div>
              <div class="col-md-4">
                <jqxDropDownList #dropDownProyectos [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
                  [valueMember]="'id'" [theme]="'darkblue'" [filterable]="true" [source]="dataAdapterProgramas"
                  [selectedIndex]="-1">
                </jqxDropDownList>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="card-header">
        <h4 style="padding: 0; margin: 0;">Listado de Matrices EX-Antes</h4>
      </div>
      <div class="card-header">
        <jqxMenu (onItemclick)="itemclick($event)" [source]="menuMatriz" [theme]="'ui-redmond'" [width]="'100%'"
          [height]="30">
        </jqxMenu>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <jqxGrid #myGridProyectoVersion [filterable]="true" [hidden]="isCollapsed" style='margin-left: 3px; '
              [theme]="'ui-redmond'" [width]="'100%'" [autorowheight]="true" [source]="dataAdapterProyectoVersion"
              [columns]="columns" [pageable]="true" [rowdetails]="true" 
              [initrowdetails]="initRowDetails" [height]="400" [ready]="ready" [rowdetailstemplate]="rowdetailstemplate"
              [columngroups]="columngroups" (onRowclick)="Rowselect($event)" >
            </jqxGrid>
          </div>
        </div>
      </div>
    </div>   
    <div class="card-footer">
      <jqxButton #buttonVolver   [width]="'60'" [height]="'25'"  [theme]="'ui-redmond'"  [disabled]="true"
              (click)="controlIsCollapsed()">volver
      </jqxButton>
    </div>
  
  <div class="card">
    <div class="card-body">    
      
      <ngx-extended-pdf-viewer #pdfViewer [src]="pdfSrc" [hidden]="isCollapsedPdf" [height]="'90vh'"
        [useBrowserLocale]="true" [showOpenFileButton]="false" [showBookmarkButton]="false"
        [showPresentationModeButton]="false" [showRotateButton]="false" [showSecondaryToolbarButton]="true"
        [showFindButton]="true" [showPrintButton]="true" [showPagingButtons]="true" [showZoomButtons]="true"
        [showDownloadButton]="true" [showSidebarButton]="true">
      </ngx-extended-pdf-viewer>
   
    </div>  
     
  </div>
  </div>
</div>
<app-matriz-ex-ante (PassMethods)="show($event)"></app-matriz-ex-ante>
<app-modal-proyecto (PassMethods)="procesaPassMethods($event)"></app-modal-proyecto>
<app-modal-component></app-modal-component>