<jqxValidator #myValidator [rules]="rules" (onValidationSuccess)='ValidationSuccess($event)'>
  <form id='form' action="./">
    <div bsModal #formNuevo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <fieldset class="w-100">
              <button type="button" (click)="Cancelar()" class="btn btn-dark">Cancelar</button>
              <button type="button" (click)="Submit()" class="btn btn-primary float-left"
                data-dismiss="modal">Grabar</button>
            </fieldset>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <div class="card border-dark" style="width: 100%">
                      <div class="card-header border-dark" style="background-color: #004a73">
                        <h2 class="text-white"> Registro de Convocatorias</h2>
                      </div>
                      <div class="card-body text-dark">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group row">
                              <div class="col-md-2">
                                <label>Período Académico:</label>
                              </div>
                              <div class="col-md-4">
                                <jqxDropDownList #dropDownPeriodo [height]="22" [width]="'100%'"
                                  [displayMember]="'descripcion'" [valueMember]="'id'"
                                  (onSelect)="itemSeleccionado($event)" [theme]="'ui-redmond'" [filterable]="true"
                                  [source]="dataAdapterPeriodo" [selectedIndex]="-1" class="selectPeridoAcademico">
                                </jqxDropDownList>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div style="margin-top: 1%"></div>
                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Descripción:</label>
                          </div>
                          <div style="width: 400px;">
                            <jqxTextArea #myinputDescripcion [theme]="'ui-redmond'" [width]="'100%'" [height]='50'
                              [maxLength]="255" class="descripcionInput" [(ngModel)]="opcion.descripcion"
                              [placeHolder]="'Descripción General del Proyecto'" name="descripcion">
                            </jqxTextArea>
                          </div>
                        </div>
                        <div style="margin-top: 1%"></div>
                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Fecha Inicio:</label>
                          </div>
                          <div style="width: 200px;padding-right: 3%;">
                            <jqxDateTimeInput #myfechaDesde [width]="200" [height]="25" [theme]="'ui-redmond'"
                              [formatString]="'yyyy-MM-dd'" [(ngModel)]="opcion.fechaDesde" name="fechaDesde"
                              (onChange)="onChange()">
                            </jqxDateTimeInput >

                          </div>

                        </div>
                        <div style="margin-top: 1%"></div>
                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Fecha Fin:</label>
                          </div>
                          <div style="width: 200px;padding-right: 3%;">
                            <jqxDateTimeInput #myfechaHasta [width]="200" [height]="25" [theme]="'ui-redmond'"
                              class="fechaHasta" [formatString]="'yyyy-MM-dd'" [(ngModel)]="opcion.fechaHasta"
                              name="fechaHasta">
                            </jqxDateTimeInput>
                            <div style="margin-left: 20px; float: left">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal -->
  </form>
</jqxValidator>
<app-modal-component></app-modal-component>