<div bsModal #formNuevoTarea="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-ms" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <fieldset class="w-100">
          <button type="button" (click)="cancelar()" class="btn btn-dark">Cancelar</button>
          <button type="button" (click)="Submit()" class="btn btn-primary float-left"
            data-dismiss="modal">Grabar</button>
        </fieldset>
      </div>
      <div class="modal-body">
        <div class="col-sm-12" style="margin-bottom: -20px">
          <div class="form-group row">
            <div class="card border-dark" style="width: 100%">
              <div class="card-header border-dark" style="background-color: #004a73">
                <h2 class="text-white"> Registro de Nuevo Tarea</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" style="margin-bottom: -15px">
          <div class="form-group row">
            <div class="col-md-4">
                <label>Objetivo:</label>
            </div>
            <div class="col-md-8">
                <jqxDropDownList #dropDownObjetivo [height]="22" [width]="'100%'"
                    [displayMember]="'imlDescripcionCorta'" [valueMember]="'idItemMarcoLogico'" [theme]="'ui-redmond'"
                    [filterable]="false" [source]="dataAdapterObjetivo" [selectedIndex]="-1"
                    (onSelect)="mostrarDropActividades($event)">
                </jqxDropDownList>
            </div>
        </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label>Actividad:</label>
            </div>
            <div class="col-md-8">
              <jqxDropDownList #dropDownActividad [height]="22" [width]="'100%'" [displayMember]="'oaDescripcion'"
                [valueMember]="'idObjetivoActividad'" [theme]="'ui-redmond'" [filterable]="false" [source]="dataAdapterActividad"
                [selectedIndex]="-1">
              </jqxDropDownList>
            </div>
          </div>
        </div>
        <div style="margin-top: 1%"></div>
        <div class="col-sm-12" style="margin-bottom: -10px">
          <div class="form-group row">
            <div class="col-md-4">
              <label>Tarea:</label>
            </div>
            <div class="col-md-8">
              <jqxTextArea #myinputDescripcion [theme]="'ui-redmond'" [width]="'100%'" [height]='50' [maxLength]="255"
                class="descripcionInput" [placeHolder]="'Descripción General del Proyecto'" name="descripcion"
                [(ngModel)]="tareas.subject">
              </jqxTextArea>
            </div>
          </div>
        </div>
        <div style="margin-top: 1%"></div>
        <div class="col-sm-12" style="margin-bottom: -15px">
          <div class="form-group row">
            <div class="col-md-4">
              <label>Fecha Inicio:</label>
            </div>
            <div class="col-md-8">
              <jqxDateTimeInput #myfechaDesde [width]="'100%'" [height]="25" [theme]="'ui-redmond'" name="fechaDesde"
                [(ngModel)]="tareas.fechaDesde" [formatString]="'yyyy-MM-dd HH:mm:ss'" [showTimeButton]="true">
              </jqxDateTimeInput>
            </div>
          </div>
        </div>
        <div style="margin-top: 1%"></div>
        <div class="col-sm-12" style="margin-bottom: 20px">
          <div class="form-group row">
            <div class="col-md-4">
              <label>Fecha Fin:</label>
            </div>
            <div class="col-md-8">
              <jqxDateTimeInput #myfechaHasta [width]="'100%'" [height]="25" [theme]="'ui-redmond'" name="fechaDesde"
                [(ngModel)]="tareas.fechaHasta" [formatString]="'yyyy-MM-dd HH:mm:ss'" [showTimeButton]="true">
              </jqxDateTimeInput>
            </div>
          </div>
        </div>
        <div class="col-sm-12 card card-accent-info">
          <div class="form-group row" style="justify-content:center">
            <strong style="padding: 0; margin: 0;">FUENTES DE FINANCIAMIENTO EXTERNAS</strong>
          </div>
        </div>
        <div class="col-sm-12 row" style="margin-top: -5%;margin-bottom: 20px">
          <div class="col-sm-6">
            <div class="col-sm-12" style="padding: 0px 0px 0px 0px;margin-bottom: 20px">
              <div class="form-group row" style="justify-content:center">
                <div class="col-md-4">
                  <label>Crédito:</label>
                </div>
                <div class="col-sm-8">
                  <jqxNumberInput #creditoFEInput [theme]="'ui-redmond'" [width]="'100%'" [height]="25"
                    [spinButtons]="true" [digits]="4" [symbolPosition]="'left'" [symbol]="'$'" [decimalDigits]="2"
                    [min]="0">
                  </jqxNumberInput>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="padding: 0px 0px 0px 0px">
            <div class="col-sm-12" style="padding: 0px 0px 0px 0px;margin-bottom: 20px">
              <div class="form-group row">
                <div class="col-md-4">
                  <label>Cooperación:</label>
                </div>
                <div class="col-md-8">
                  <jqxNumberInput #coopInput [theme]="'ui-redmond'" [width]="'100%'" [height]="25" [spinButtons]="true"
                    [digits]="4" [symbolPosition]="'left'" [symbol]="'$'" [decimalDigits]="2" [min]="0">
                  </jqxNumberInput>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 card card-accent-info">
          <div class="form-group row" style="justify-content:center">
            <strong style="padding: 0; margin: 0;">FUENTES DE FINANCIAMIENTO INTERNAS</strong>
          </div>
        </div>
        <div class="col-sm-12 row" style="margin-top: -5%;margin-bottom: 20px">
          <div class="col-sm-6">
            <div class="col-sm-12" style="padding: 0px 0px 0px 0px;margin-bottom: -10px">
              <div class="form-group row" style="justify-content:center">
                <div class="col-md-4">
                  <label>Crédito:</label>
                </div>
                <div class="col-sm-8">
                  <jqxNumberInput #creditoFIInput [theme]="'ui-redmond'" [width]="'100%'" [height]="25"
                    [spinButtons]="true" [digits]="4" [symbolPosition]="'left'" [symbol]="'$'" [decimalDigits]="2"
                    [min]="0">
                  </jqxNumberInput>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="padding: 0px 0px 0px 0px;margin-bottom: -10px">
              <div class="form-group row" style="justify-content:center">
                <div class="col-md-4">
                  <label>Autogestión:</label>
                </div>
                <div class="col-sm-8">
                  <jqxNumberInput #autoGestionInput [theme]="'ui-redmond'" [width]="'100%'" [height]="25"
                    [spinButtons]="true" [digits]="4" [symbolPosition]="'left'" [symbol]="'$'" [decimalDigits]="2"
                    [min]="0">
                  </jqxNumberInput>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="padding: 0px 0px 0px 0px">
            <div class="col-sm-12" style="padding: 0px 0px 0px 0px;margin-bottom: -10px">
              <div class="form-group row">
                <div class="col-md-4">
                  <label>Fiscáles:</label>
                </div>
                <div class="col-md-8">
                  <jqxNumberInput #fiscalesInput [theme]="'ui-redmond'" [width]="'100%'" [height]="25" [spinButtons]="true"
                    [digits]="4" [symbolPosition]="'left'" [symbol]="'$'" [decimalDigits]="2" [min]="0">
                  </jqxNumberInput>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="padding: 0px 0px 0px 0px;margin-bottom: -10px">
              <div class="form-group row">
                <div class="col-md-4">
                  <label>Aporte Comunidad:</label>
                </div>
                <div class="col-md-8">
                  <jqxNumberInput #comuInput [theme]="'ui-redmond'" [width]="'100%'" [height]="25" [spinButtons]="true"
                    [digits]="4" [symbolPosition]="'left'" [symbol]="'$'" [decimalDigits]="2" [min]="0">
                  </jqxNumberInput>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<app-modal-component></app-modal-component>