<div bsModal #modalDetallesParticipantes="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong style="padding: 0; margin: 0;">Docentes Participantes</strong>
            </div>
            <div class="modal-body">
                <div class="card card-accent-info">

                    <div class="row">
                        <div class="col-md-2">
                            <label>Identificación</label>
                        </div>
                        <div class="col-md-4">
                            <jqxInput #txtIdenficacion class="identificacionInput" [width]="'100%'" [height]="22"
                                [theme]="'ui-redmond'" name="identificacion" [(ngModel)]="participante.identificacion"
                                [maxLength]="10">
                            </jqxInput>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Apellidos</label>
                        </div>
                        <div class="col-md-4">
                            <jqxInput #txtApellidos class="apellidosInput" [width]="'100%'" [height]="22"
                                name="apellidos" [theme]="'ui-redmond'" [(ngModel)]="participante.apellidos"
                                [maxLength]="30">
                            </jqxInput>
                        </div>
                        <div class="col-md-2">
                            <label>Nombres</label>
                        </div>
                        <div class="col-md-4">
                            <jqxInput #txtNombres class="nombresInput" [width]="'100%'" [height]="22" name="nombres"
                                [theme]="'ui-redmond'" [(ngModel)]="participante.nombres" [maxLength]="30">
                            </jqxInput>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Título de Grado</label>
                        </div>
                        <div class="col-md-4">
                            <jqxInput #txtNombres class="nombresInput" [width]="'100%'" [height]="22" name="nombres"
                                [theme]="'ui-redmond'" [(ngModel)]="participante.tituloGrado" [maxLength]="30">
                            </jqxInput>
                        </div>
                        <div class="col-md-2">
                            <label>Título de Post-Grado</label>
                        </div>
                        <div class="col-md-4">
                            <jqxInput #txtNombres class="nombresInput" [width]="'100%'" [height]="22" name="nombres"
                                [theme]="'ui-redmond'" [(ngModel)]="participante.tituloPosgrado" [maxLength]="30">
                            </jqxInput>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>E-mail:</label>
                        </div>
                        <div class="col-md-4">
                            <jqxInput #txtEmailPersonal class="email_personalInput" [placeHolder]="'docente@mail.com'"
                                name="email_personal" [width]="'100%'" [height]="22" [theme]="'ui-redmond'"
                                [(ngModel)]="participante.email">
                            </jqxInput>
                        </div>
                        <div class="col-md-2">
                            <label>Celular</label>
                        </div>
                        <div class="col-md-4">
                            <jqxMaskedInput #masketCelular class="celularInput" [width]="'100%'" [height]="22"
                                name="celular" [theme]="'ui-redmond'" [mask]="'##########'"
                                [(ngModel)]="participante.cedular">
                            </jqxMaskedInput>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #modalDetallesEstudianteParticipantes="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong style="padding: 0; margin: 0;">Docentes Participantes</strong>
            </div>
            <div class="modal-body">
                <div class="card card-accent-info">

                    <div class="row">
                        <div class="col-md-2">
                            <label>Identificación</label>
                        </div>
                        <div class="col-md-4">
                            <jqxInput #txtIdenficacion class="identificacionInput" [width]="'100%'" [height]="22"
                                [theme]="'ui-redmond'" name="identificacion" [(ngModel)]="estudianteparticipante.identificacion"
                                [maxLength]="10">
                            </jqxInput>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Nombres</label>
                        </div>
                        <div class="col-md-10">
                            <jqxInput #txtNombres class="nombresInput" [width]="'100%'" [height]="22" name="nombres"
                                [theme]="'ui-redmond'" [(ngModel)]="estudianteparticipante.nombreCompleto" [maxLength]="30">
                            </jqxInput>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Curso</label>
                        </div>
                        <div class="col-md-10">
                            <jqxInput #txtNombres class="nombresInput" [width]="'100%'" [height]="22" name="nombres"
                                [theme]="'ui-redmond'" [(ngModel)]="estudianteparticipante.cursoSemestre" [maxLength]="30">
                            </jqxInput>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>E-mail:</label>
                        </div>
                        <div class="col-md-4">
                            <jqxInput #txtEmailPersonal class="email_personalInput" [placeHolder]="'docente@mail.com'"
                                name="email_personal" [width]="'100%'" [height]="22" [theme]="'ui-redmond'"
                                [(ngModel)]="estudianteparticipante.email">
                            </jqxInput>
                        </div>
                        <div class="col-md-2">
                            <label>Celular</label>
                        </div>
                        <div class="col-md-4">
                            <jqxMaskedInput #masketCelular class="celularInput" [width]="'100%'" [height]="22"
                                name="celular" [theme]="'ui-redmond'" [mask]="'##########'"
                                [(ngModel)]="estudianteparticipante.telefono">
                            </jqxMaskedInput>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>