<div bsModal #formNuevoActividad="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-ms" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <fieldset class="w-100">
                    <button type="button" (click)="cancelar()" class="btn btn-dark">Cancelar</button>
                    <button type="button" (click)="Submit()" class="btn btn-primary float-left"
                        data-dismiss="modal">Grabar</button>
                </fieldset>
            </div>
            <div class="modal-body">
                <div class="col-sm-12" style="margin-bottom: -20px">
                    <div class="form-group row">
                        <div class="card border-dark" style="width: 100%">
                            <div class="card-header border-dark" style="background-color: #004a73">
                                <h2 class="text-white"> MATRIZ DE MARCO LÓGICO</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label style="padding: 0; margin: 0 15px;">Tipo Objetivo:</label>
                    </div>
                    <div class="col-md-8">
                        <jqxDropDownList #dropDownTipoObjetivo [height]="22" [width]="'100%'"
                            [displayMember]="'descripcion'" [valueMember]="'id'" [theme]="'ui-redmond'"
                            [filterable]="false" [source]="dataAdapterTipoObjetivo" [selectedIndex]="-1"
                            (onSelect)="mostrarGridActividades($event)" [disabled]="false">
                        </jqxDropDownList>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-bottom: -20px">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Descripción Corta:</label>
                        </div>
                        <div class="col-md-8">                           
                            <jqxInput #inputDescripcionCorta [theme]="'ui-redmond'" [maxLength]="30" class="descripcionCortaInput"
                            [width]="'100%'" [height]="22" name="descripcionCorta">
                          </jqxInput>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-bottom: -20px">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Descripción:</label>
                        </div>
                        <div class="col-md-8">
                            <jqxTextArea #inputDescripcion [theme]="'ui-redmond'" [maxLength]="255"
                                class="descripcionInput" [width]="'100%'" [height]="50" name="descripcion"
                               >
                            </jqxTextArea>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 7%"></div>
                <div class="col-sm-12 card card-accent-info">
                    <div class="form-group row" style="justify-content:center">
                        <strong style="padding: 0; margin: 0;">INDICADORES</strong>
                    </div>
                </div>
                <div class="col-sm-12 row" style="margin-top: -5%;margin-bottom: -20px">
                    <div class="col-sm-6">
                        <div class="form-group row" style="justify-content:center">
                            <strong style="padding: 0; margin: 0;">CUALITATIVOS</strong>
                        </div>
                        <div class="col-sm-12" style="margin-bottom: -20px">
                            <div class="form-group row" style="justify-content:center">
                                <label>Indicador Meta:</label>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-bottom: -20px">
                            <jqxTextArea #inputIndicador [theme]="'ui-redmond'" [maxLength]="255" class="indicadorInput"
                                [width]="'100%'" [height]="50" name="indicador" >
                            </jqxTextArea>

                        </div>
                    </div>
                    <div class="col-sm-6" style="padding: 0px 0px 0px 0px">
                        <div class="form-group row" style="justify-content:center">

                            <strong style="padding: 0; margin: 0;">CUANTITATIVOS</strong>

                        </div>
                        <div class="col-sm-12" style="padding: 0px 0px 0px 0px;margin-bottom: -20px">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>Línea Base:</label>
                                </div>
                                <div class="col-md-8">
                                    <jqxNumberInput #lineaBaseInput [theme]="'ui-redmond'" [width]="'100%'" [height]="25"
                                        [spinButtons]="true" [digits]="3"
                                        [symbolPosition]="'right'" [symbol]="'%'" [decimalDigits]="0" [min]="0">
                                    </jqxNumberInput>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="padding: 0px 0px 0px 0px;margin-bottom: -20px">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>Meta Programada:</label>
                                </div>
                                <div class="col-md-8">
                                    <jqxNumberInput #metaProgramadaInput [theme]="'ui-redmond'" [width]="'100%'"
                                        [height]="25" [spinButtons]="true" 
                                        [digits]="3" [symbolPosition]="'right'" [symbol]="'%'" [decimalDigits]="0"
                                        [min]="0">
                                    </jqxNumberInput>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="padding: 0px 0px 0px 0px;margin-bottom: -20px">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>Tiempo Planeado(En Meses):</label>
                                </div>
                                <div class="col-md-8">
                                    <jqxNumberInput #tiempoPlaneadoInput [theme]="'ui-redmond'" [width]="'100%'"
                                        [height]="25" [spinButtons]="true" 
                                        [digits]="3" [symbolPosition]="'right'" [decimalDigits]="0" [min]="0">
                                    </jqxNumberInput>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 5%"></div>
                <div [hidden]="mostrarActividades">
                    <div style="margin-top: 7%"></div>
                    <div class="col-sm-12 card card-accent-info">
                        <div class="form-group row" style="justify-content:center">
                            <strong style="padding: 0; margin: 0;">ACTIVIDADES</strong>
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-bottom: -20px">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label>Descripción:</label>
                            </div>
                            <div class="col-md-7">
                                <jqxTextArea #inputDescripcionAct [theme]="'ui-redmond'" [maxLength]="255"
                                    class="descripcionActInput" [width]="'100%'" [height]="50" name="descripcionAct">
                                </jqxTextArea>
                            </div>
                            <div class="col-md-3">
                                <jqxButton #buttonAgg [width]="'100%'" [height]="'25'" [theme]="'ui-redmond'"
                                    (click)="agregarActividad($event)">Agregar
                                </jqxButton>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 5%"></div>
                    <jqxGrid #gridActividades style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
                        [source]="dataAdapterActividades" [columns]="columnsActividades" [filterable]="false"
                        [localization]="localization" [autoheight]="true" [selectionmode]="'none'"
                        [autorowheight]="true" [sortable]="false" [editable]="false" [showtoolbar]="false"
                        (onRowclick)="Rowselect($event)" (onCelldoubleclick)="Celldoubleclick($event)">
                    </jqxGrid>
                </div>

            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<app-modal-component></app-modal-component>