<div class="card-body">
    <div class="card-group">
        <div class="card">
            <div class="row">
                
                <div class="col-md-6">
                    <div class="card card-accent-info">
                        <div class="card-header">
                            <strong> Información</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Título:</label>
                                </div>
                                <div class="col-md-9">
                                    <jqxInput #myinputTitulo [theme]="'ui-redmond'" [maxLength]="255" class="nombreInput"
                                        [width]="'100%'" [height]="22" name="nombre" [(ngModel)]="proyecto.titulo">
                                    </jqxInput>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Descripción:</label>
                                </div>
                                <div class="col-md-9">
                                    <jqxTextArea #myinputDescripcion [theme]="'ui-redmond'" [width]="'100%'" [height]='50'
                                    [maxLength]="255" class="descripcionInput"
                                    [placeHolder]="'Descripción General del Proyecto'" name="descripcion"
                                    [(ngModel)]="proyecto.descripcion">
                                </jqxTextArea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Fecha Desde:</label>
                                </div>
                                <div class="col-md-3">
                                    <jqxDateTimeInput #myfechaDesde [width]="'100%'" [height]="22" [theme]="'ui-redmond'"
                                    name="fechaDesde" [(ngModel)]="proyecto.fechaDesde"
                                    [formatString]="'yyyy-MM-dd'">
                                </jqxDateTimeInput>
                                </div>
                                <div class="col-md-3">
                                    <label>Fecha Hasta:</label>
                                </div>
                                <div class="col-md-3">
                                    <jqxDateTimeInput #myfechaHasta [width]="'100%'" [height]="22" [theme]="'ui-redmond'"
                                    name="fechaHasta" [(ngModel)]="proyecto.fechaHasta"
                                    [formatString]="'yyyy-MM-dd'">
                                </jqxDateTimeInput>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Subir Documento:</label>
                                </div>
                                <div class="col-md-3">
                                    <input id="myFileUpload" type="file" name="file" accept="application/pdf" [height]="22" [width]="'100%'"
                                            (change)='onUploadStart($event.target.files)' style="color: transparent;" />
                                        
                                </div>
                                <div class="col-md-6">
                                    <label id="labelInput">{{proyectoVersion.url}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-accent-info">
                        <div class="card-header">
                            <strong> Área Geográfica</strong>
                        </div>
                    
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Provincia:</label>
                                </div>
                                <div class="col-md-9">
                                    <jqxDropDownList #dropDownProvincia [height]="22" [width]="'100%'"
                                        [displayMember]="'descripcion'" [valueMember]="'id'" [theme]="'ui-redmond'"
                                        [filterable]="true" [source]="dataAdapterProvincia" [selectedIndex]="-1"
                                        (onSelect)="ListarCantones($event)">
                                    </jqxDropDownList>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                
                                    <label>Cantón:</label>
                                </div>
                                <div class="col-md-9">
                                    <jqxDropDownList #dropDownCanton [theme]="'ui-redmond'" [selectedIndex]="-1"
                                        [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'"
                                        [source]="dataAdapterCanton" [height]='22' [filterable]="true"
                                        (onSelect)="ListarParroquias($event)">
                                    </jqxDropDownList>
                                </div>
                            </div>
                            

                            <div class="row">
                                <div class="col-md-3">
                                    <jqxCheckBox #checkBoxParroquia style="margin: 0px;"
                                        (onChange)="checkParroquia($event)" [checked]='true'>
                                        Parroquia
                                    </jqxCheckBox>
                                </div>
                                <div class="col-md-3">
                                    <jqxCheckBox #checkBoxComuna style="margin: 0px;"
                                        (onChange)="checkComuna($event)">
                                        Comuna
                                    </jqxCheckBox>
                                </div>
                                >
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="text-align:left">Parroquia:</div>
                                </div>
                                <div class="col-md-9">
                                    <jqxDropDownList #dropDownParroquia [theme]="'ui-redmond'" [selectedIndex]="-1"
                                        [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'"
                                        [source]="dataAdapterParroquia" [height]='22' [filterable]="true">
                                    </jqxDropDownList>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>{{Barrio}}:</label>
                                </div>
                                <div class="col-md-10">
                                    <jqxInput #myinputBarrio [theme]="'ui-redmond'" [maxLength]="255"
                                        class="barrioInput" [width]="'100%'" [height]="22" name="barrio"
                                        [(ngModel)]="proyectoAreaGeografica.descripcion">
                                    </jqxInput>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-accent-info">
                       
                        <div class="card-header">
                            <strong> Asignaturas del proyecto</strong>
                        </div>
                        <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Carreras:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <jqxDropDownList #dropDownCarrera [theme]="'ui-redmond'" [selectedIndex]="-1"
                                            [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'"
                                            [source]="dataAdapterCarrera" [height]='22'
                                            (onSelect)="listarAsignaturas($event)">
                                        </jqxDropDownList>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div style="text-align:left">Semestre:</div>
                                    </div>
                                    <div class="col-md-8">
                                        <jqxDropDownList [(ngModel)]="dataCarrera" #dropDownSemestre [theme]="'ui-redmond'" [selectedIndex]="-1"
                                            [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'"
                                            [source]="dataAdapterSemestre" [height]='22'
                                            (onSelect)="listarAsignaturas($event)">
                                        </jqxDropDownList>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div style="text-align:left">Asignaturas:</div>
                                    </div>
                                    <div class="col-md-8">
                                        <jqxDropDownList #dropDownAsigantura [theme]="'ui-redmond'"
                                            [selectedIndex]="-1" [displayMember]="'descripcion'"
                                            [valueMember]="'idMallaAsignatura'" [width]="'100%'"
                                            [source]="dataAdapterAsignatura" [height]='22'
                                            (onSelect)="asignaturaSeleccionada($event)">
                                        </jqxDropDownList>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <jqxGrid #gridAsignaturaProyecto style='margin-left: 3px;' [theme]="'ui-redmond'"
                                        [width]="'100%'" [source]="dataAdapterAsignaturaProyecto"
                                        [columns]="columnsAsignaturaProyecto" [filterable]="false"
                                        [localization]="localization" [autoheight]="true" [selectionmode]="'none'"
                                        [autorowheight]="true" [sortable]="false" [editable]="false" [showtoolbar]="true"
                                        [rendertoolbar]="rendertoolbarAsig" (onRowclick)="RowselectAsig($event)">
                                    </jqxGrid>
                                    </div>
                                </div>

                        </div>
                    </div>    
                </div>
                <div class="col-md-6">
                    <div class="card card-accent-info">
                          
                        <div class="card-header">
                            <strong> Presupuesto</strong>
                        </div>
                        
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Aporte Universidad:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <jqxInput [theme]="'ui-redmond'" [maxLength]="255" class="presAporUnivInput"
                                            [width]="'100%'" [height]="22" name="presAporUniv"
                                            (keydown)="keyPress($event)"
                                            [(ngModel)]="proyectoPresupuesto.aporteUniversidad"
                                            (onChange)="Change($event)">
                                        </jqxInput>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Entidad Auspiciante:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <jqxInput [theme]="'ui-redmond'" [maxLength]="255" class="presEntAuspInput"
                                            [width]="'100%'" [height]="22" name="presEntAusp"
                                            (keydown)="keyPress($event)"
                                            [(ngModel)]="proyectoPresupuesto.entidadAuspiciante"
                                            (onChange)="Change($event)">
                                        </jqxInput>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Comunidad Beneficiaria:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <jqxInput [theme]="'ui-redmond'" [maxLength]="255" class="presComBeneInput"
                                            [width]="'100%'" [height]="22" name="presComBene"
                                            (keydown)="keyPress($event)"
                                            [(ngModel)]="proyectoPresupuesto.comunidadBeneficiaria"
                                            (onChange)="Change($event)">
                                        </jqxInput>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Autogestión:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <jqxInput [theme]="'ui-redmond'" [maxLength]="255" class="presAutogestionInput"
                                            [width]="'100%'" [height]="22" name="presAutogestion"
                                            (keydown)="keyPress($event)" [(ngModel)]="proyectoPresupuesto.autogestion"
                                            (onChange)="Change($event)">
                                        </jqxInput>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Total</label>
                                    </div>
                                    <div class="col-md-8">
                                        <label tyle="width: 100%; border-color:rgb(33, 86, 139); border-width: 1px;">{{total}}</label>
                                    </div>
                                </div>
                           
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 
</div>
<app-modal-component></app-modal-component>

