<div class="card">
  <div class="card-header">
    <h3> Listado de Recursos Bibliográficos </h3>
  </div>
  <div class="card-header">
    <jqxMenu style='margin-left: 3px; margin-top: 5px;' (onItemclick)="itemclick($event)" [source]="menuMatricula"
      [theme]="'ui-redmond'" [width]="'100%'" [height]="30">
    </jqxMenu>
  </div>
  <div class="card-body">

    <div style="margin-left: 3px; margin-top: 10px; font-size: 13px; font-family: Verdana;" #eventLog></div>
    <jqxGrid #gridBibliografias style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
      [source]="dataAdapterBibliografia" [columns]="columnsBibliografia" [filterable]="true" [pageable]="true"
      [showfilterrow]="true" [localization]="localization" [sortable]="false" [height]='480'>
    </jqxGrid>

    <!-- [height]="495"  [pageable]="true"-->
  </div>
</div>

<app-modal-component></app-modal-component>
<pre>
  <!-- {{ asignaturasEnMalla|json}}  -->

</pre>