<div bsModal #formNuevoInformeActividad="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-ms" role="document">
        <div class="modal-content">
            <div class="modal-header" style="margin: 0% 0% -3% 0%;">
                <fieldset class="w-100">
                    <button type="button" (click)="cancelar()" class="btn btn-dark">Cancelar</button>
                    <button type="button" (click)="Submit()" class="btn btn-primary float-left"
                        data-dismiss="modal">Grabar</button>
                </fieldset>
            </div>
            <div class="card-header border-dark" style="background-color: #004a73">
                <label class="h5 text-white" style="margin: 0% 0%">REGISTRO DE ACTIVIDADES</label>
            </div>
            <div class="modal-body">
                <div class="card-group" style="margin:0px">
                    <div class="col-sm-4" style="padding: 1px;">
                        <label style="padding: 0; margin: 0 15px;">Participante:</label>
                    </div>
                    <div class="col-sm-8" style="padding: 1px;">
                        <jqxDropDownList #dropDownParticipante [height]="22" [width]="'100%'"
                            [displayMember]="'nombres'" [valueMember]="'idPersona'" [theme]="'ui-redmond'"
                            [source]="dataAdapterParticipante" [selectedIndex]="-1" [checkboxes]="true">
                        </jqxDropDownList>
                    </div>
                </div>
                <div class="card-group" style="margin:0px">
                    <div class="col-sm-4" style="padding: 1px;">
                        <label style="padding: 0; margin: 0 15px;">Objetivo:</label>
                    </div>
                    <div class="col-sm-8" style="padding: 1px;">
                        <jqxDropDownList #dropDownObjetivo [height]="22" [width]="'100%'"
                            [displayMember]="'descripcionItemMarcoLogico'" [valueMember]="'idItemMarcoLogico'" [theme]="'ui-redmond'"
                            [filterable]="false" [source]="dataAdapterObjetivo" [selectedIndex]="-1"
                            (onSelect)="mostrarActividades($event)" [disabled]="false">
                        </jqxDropDownList>
                    </div>
                </div>
                <div class="card-group" style="margin:0px">
                    <div class="col-sm-4" style="padding: 1px;">
                        <label style="padding: 0; margin: 0 15px;">Actividad:</label>
                    </div>
                    <div class="col-sm-8" style="padding: 1px;">
                        <jqxDropDownList #dropDownActividad [height]="22" [width]="'100%'"
                            [displayMember]="'descripcionActividad'" [valueMember]="'idObjetivoActividad'" [theme]="'ui-redmond'"
                            [filterable]="false" [source]="dataAdapterActividad" [selectedIndex]="-1"
                            (onSelect)="mostrarTareas($event)" [disabled]="false">
                        </jqxDropDownList>
                    </div>
                </div>
                <div class="card-group" style="margin:0px">
                    <div class="col-sm-4" style="padding: 1px;">
                        <label style="padding: 0; margin: 0 15px;">Tarea:</label>
                    </div>
                    <div class="col-sm-8" style="padding: 1px;">
                        <jqxDropDownList #dropDownTarea [height]="22" [width]="'100%'"
                            [displayMember]="'descripcionTarea'" [valueMember]="'idObjetivoTarea'" [theme]="'ui-redmond'"
                            [filterable]="false" [source]="dataAdapterTareas" [selectedIndex]="-1"
                            [disabled]="false">
                        </jqxDropDownList>
                    </div>
                </div>
                <div class="card-group" style="margin:0px">
                    <div class="col-sm-4" style="padding: 1px;">
                        <label style="padding: 0; margin: 0 5px;">Fecha desde:</label>
                    </div>
                    <div class="col-sm-8" style="padding: 1px;">
                        <jqxDateTimeInput #myfechaDesde [width]="'100%'" [height]="25" [theme]="'ui-redmond'"
                            name="fechaDesde" [formatString]="'yyyy-MM-dd HH:mm:ss'" [showTimeButton]="true"
                            (onValueChanged)="ValueChanged($event)" [(ngModel)]="actividadParticipante.fechaDesde">
                        </jqxDateTimeInput>
                    </div>
                </div>
                <div class="card-group" style="margin:0px">
                    <div class="col-sm-4" style="padding: 1px;">
                        <label style="padding: 0; margin: 0 5px;">Fecha hasta:</label>
                    </div>
                    <div class="col-sm-8" style="padding: 1px;">
                        <jqxDateTimeInput #myfechaHasta [width]="'100%'" [height]="25" [theme]="'ui-redmond'"
                            name="fechaDesde" [formatString]="'yyyy-MM-dd HH:mm:ss'" [showTimeButton]="true"
                            (onValueChanged)="ValueChanged($event)" [(ngModel)]="actividadParticipante.fechaHasta">
                        </jqxDateTimeInput>
                    </div>
                </div>
                <div class="card-group" style="margin:0px">
                    <div class="col-sm-4" style="padding: 1px;">
                        <div class="form-group row" style="margin: 0px;">
                            <div class="col-md-12" style="text-align: center">
                                <label style="padding: 0; margin: 0 5px;">Horas Trabajadas:</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12" style="text-align: center">
                                <label
                                    style="width: 100%; border-color:rgb(33, 86, 139); border-width: 1px;">{{total}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8" style="padding: 1px;">
                        <div class="form-group row" style="margin: 0px;">
                            <div class="col-md-12" style="text-align: center">
                                <label style="padding: 0; margin: 0 5px;">Lugar:</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12" style="text-align: center">
                                <jqxInput #myinputLugar [theme]="'ui-redmond'" [maxLength]="255" class="nombreInput"
                                    [width]="'100%'" [height]="22" name="nombre" [(ngModel)]="actividadParticipante.lugar">
                                </jqxInput>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-group" style="margin:0px">
                    <div class="col-sm-4" style="padding: 1px;">
                        <label style="padding: 0; margin: 0 5px;">Documento de soporte:</label>
                    </div>
                    <div class="col-sm-8" style="padding: 1px;">
                        <input id="myFileUpload" type="file" name="file" accept="application/pdf"
                            (change)='onUploadStart($event.target.files)' style="color: transparent;" />
                        <label id="labelInput">{{documentoSoporteUrl}}</label>
                    </div>
                </div>
                <div class="card-group" style="margin:0px">
                    <div class="col-sm-4" style="padding: 1px;">
                        <label style="padding: 0; margin: 0 5px;">Observaciones:</label>
                    </div>
                    <div class="col-sm-8" style="padding: 1px;">
                        <jqxTextArea #myinputObservacion [theme]="'ui-redmond'" [width]="'100%'" [height]='50'
                            [maxLength]="255" class="observacionInput"
                            [placeHolder]="'Descripción de Observacion'" name="observacion" [(ngModel)]="actividadParticipante.observacion">
                        </jqxTextArea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-component></app-modal-component>