<div bsModal #formEvaluar="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
    <div class="modal-content">
      <jqxMenu style='margin-left: 3px; margin-top: 5px;' #jqxMenu (onItemclick)="itemclick($event)" [source]="menus"
        [theme]="'ui-redmond'" [width]="'auto'" [height]="30">
      </jqxMenu>

      <jqxExpander style='margin-left: 3px; margin-top: 3px;' [theme]="'ui-redmond'" [width]="'auto'" [showArrow]="false"
        [toggleMode]="'none'">
        <div>
          <h4 style="padding: 0; margin: 0;"> EVALUACIÓN DE PROYECTOS: FASE EX-ANTE </h4>
        </div>
        <div style="padding: 1px;">
          <div class="card">
            <div class="card-header">
              Datos Evaluación
            </div>
            <div class="card-body col-sm-12" style='margin-left: -20px; margin-top: -15px;'>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-md-6">
                      <strong style='padding-top: 5px;'>FACULTAD:</strong>
                     {{cabMatriz.departamento}}
                    </div>
                    <div class="col-md-6">
                      <strong style='padding-top: 5px;'>NOMBRE DEL PROYECTO:</strong>
                      {{cabMatriz.nombreProyecto}}
                    </div>

                  </div>
                </div>
              
              <div style='padding-top: 2px; '>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-md-6">
                      <strong style='padding-top: 5px;'>CARRERA:</strong>
                      {{cabMatriz.oferta}}
                    </div>
                    <div class="col-md-6" style='padding-right: 5px;'>
                      <strong style='padding-top: 5px;'>FECHA DESDE:</strong>
                      {{cabMatriz.fechaDesdeINFZ| date:'dd-MM-yyyy'}}
                    </div>

                  </div>
                </div>
              </div>
              <div style='padding-top: 2px; '>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-md-6">
                      <strong style='padding-top: 5px;'>DIRECTOR DE PROYECTO:</strong>
                      {{cabMatriz.directorProyecto}}
                      
                    </div>
                    <div class="col-md-6">
                      <strong style='padding-top: 5px;'>FECHA HASTA:</strong>
                      {{cabMatriz.fechaHastaINFZ | date:'dd-MM-yyyy'}}                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <jqxPanel #myPanelGrid [width]="'99%'" [height]="380">
            <div class="card-body">
              <div id="myTabs"></div>
            </div>
          </jqxPanel>

          <div class="card">
            <div class="card-header">
              RESULTADO DE LA EVALUACIÓN DE PROYECTO:
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-4">
                  <jqxCheckBox #checkBoxAprobar style="margin: 0px;" (onChecked)="checkAprobado($event)"> aprobado:
                  </jqxCheckBox>
                </div>
                <div class="col-md-4">
                  <jqxCheckBox #checkBoxModificar style="margin: 0px;" (onChecked)="checkModificar($event)"> Modificar:
                  </jqxCheckBox>
                </div>
                <div class="col-md-4">
                  <jqxCheckBox #checkBoxNoAprobar style="margin: 0px;"> No Aprobado:
                  </jqxCheckBox>
                </div>
              </div>
            </div>
          </div>
          <div [hidden]="mostrarFechaRecepcion" class="card-body col-sm-12" style='margin-left: 0px; margin-top: -15px;'>
            <div class="form-row">
              <div class="col-md-6" style="width: 100px; padding-right: 1%;">
                <label>Entregar Documento modificado hasta:</label>
              </div>
              <div class="col-md-6" style="width: 200px;padding-right: 3%;">
                <jqxDateTimeInput #myfechaEntrega [width]="'100%'" [height]="25" [theme]="'ui-redmond'"
                  name="fechaEntrega"  [formatString]="'yyyy-MM-dd'" [dropDownVerticalAlignment]="'top'">
                </jqxDateTimeInput>
              </div>

            </div>
          </div>
          <div [hidden]="mostrarCodigo" class="card-body col-sm-12" style='margin-left: 0px; margin-top: -15px;'>
            <div class="form-row">
              <div class="col-md-6" style="width: 100px; padding-right: 1%;">
                <label>Código del Proyecto:</label>
              </div>
              <div class="col-md-6" style="width: 200px;padding-right: 3%;">
                <jqxInput #myinputCodigo [theme]="'ui-redmond'" [maxLength]="10" class="codigoInput"
                [width]="'100%'" [height]="22" name="codigo" [(ngModel)]="proyecto.codigo">
              </jqxInput>
              </div>

            </div>
          </div>
        </div>
      </jqxExpander>
    </div>
  </div>
</div>
<app-modal-component ></app-modal-component>
<app-modal-proyecto (procesarSioNo)="procesarSioNo($event)" ></app-modal-proyecto>