<jqxValidator #myValidator [rules]="rules" [animationDuration]="0" (onValidationSuccess)="ValidationSuccess($event)">
    <form id='form' action="./">

        <div bsModal #modalSeguimientoActividad="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <fieldset class="w-100">
                            <div class="card-header border-dark" style="background-color: #004a73">
                                <h2 class="text-white"> Registro de Seguimiento</h2>
                            </div>
                        </fieldset>
                    </div>
                    <div class="text-justify modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="card border-dark" style="margin-bottom: -3px">
                                    <div class="card-body text-dark">
                                        <div class="form-row">
                                            <div class="col-md-4">
                                                <label>Período Académico:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <jqxDropDownList #dropDownPeriodo [height]="22" [width]="'100%'"
                                                    [displayMember]="'descripcion'" [valueMember]="'id'"
                                                    [theme]="'ui-redmond'"
                                                    [filterable]="true" [source]="dataAdapterPeriodo"
                                                    [selectedIndex]="-1" class="selectPeridoAcademico">
                                                </jqxDropDownList>
                                            </div>
                                        </div>
                                        <div style="margin-top: 1%"></div>
                                        <div class="form-row">
                                            <div class="col-md-4">
                                                <label>Descripción:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <jqxTextArea #myinputDescripcion [theme]="'ui-redmond'" [width]="'100%'"
                                                    [height]='50' [maxLength]="255" class="descripcionInput"
                                                    [(ngModel)]="opcion.descripcion" [disabled]="true"
                                                    [placeHolder]="'Descripción General del Proyecto'"
                                                    name="descripcion">
                                                </jqxTextArea>
                                            </div>
                                        </div>
                                        <div style="margin-top: 1%"></div>
                                        <div class="form-row">
                                            <div class="col-md-4">
                                                <label>Fecha Inicio:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <jqxDateTimeInput #myfechaDesde [width]="200" [height]="25"
                                                    [theme]="'ui-redmond'" [formatString]="'yyyy-MM-dd'"
                                                    [(ngModel)]="opcion.fechaDesde" name="fechaDesde">
                                                </jqxDateTimeInput>

                                            </div>

                                        </div>
                                        <div style="margin-top: 1%"></div>
                                        <div class="form-row">
                                            <div class="col-md-4">
                                                <label>Fecha Fin:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <jqxDateTimeInput #myfechaHasta [width]="200" [height]="25"
                                                    [theme]="'ui-redmond'" class="fechaHasta"
                                                    [formatString]="'yyyy-MM-dd'" [(ngModel)]="opcion.fechaHasta"
                                                    name="fechaHasta" (onChange)="onChange()">
                                                </jqxDateTimeInput>
                                                <div style="margin-left: 20px; float: left">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="Submit()" class="btn btn-primary">Grabar</button>
                        <button type="button" (click)="cancelar()" class="btn btn-dark">Cancelar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </form>
</jqxValidator>
<app-modal-component></app-modal-component>