<div class="card" style="width: 100%">
    <div class="card-header border-dark" style="background-color: #004a73">
        <label class="h5 text-white" style="margin: 0% 0%">Asignación de Tareas </label>
    </div>
    <div class="card-header">
        <div class="form-group row">
            <div class="col-md-12">
                <div class=" form-group row" style="margin:0px">
                    <div class=" col-sm-12" style="text-align: center">
                        <label class="h4 text-dark" style="margin: 0% 0%">{{Titulo}} </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-group" style="margin:0px">
            <div class="col-sm-4">
                <div class=" form-group row" style="margin: 0px;">
                    <div class="col-md-12" >
                        <div style="text-align:left">Carreras:</div>
                    </div>
                </div>
                <div class=" form-group row">
                    <div class="col-md-12">
                        <jqxDropDownList #dropDownCarrera [theme]="'ui-redmond'" [selectedIndex]="-1"
                            [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'"
                            [source]="dataAdapterCarrera" [height]='22' [filterable]="true"
                            (onSelect)="ListarProyectos()">
                        </jqxDropDownList>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group row" style="margin: 0px;">
                    <div class="col-md-12" >
                        <label style="padding: 0; margin: 0 5px;">Proyectos:</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12" style="padding: 0px">
                        <jqxDropDownList #dropDownProyectos [height]="22" [width]="'100%'"
                            [displayMember]="'tituloProyecto'" [valueMember]="'idProyecto'" [theme]="'ui-redmond'"
                            [source]="dataAdapterProyecto" [selectedIndex]="-1" (onSelect)="ListarActividades($event)">
                        </jqxDropDownList>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-group" style="margin:0px">
            <div class="col-sm-6">
                <div class="form-group row" style="margin: 0px;">
                    <div class="col-md-12" style="text-align: center">
                        <label style="padding: 0; margin: 0 5px;">Actividades:</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <jqxDropDownList #dropDownActividades [height]="22" [width]="'100%'"
                            [displayMember]="'descripcionActividad'" [valueMember]="'idObjetivoActividad'" [theme]="'ui-redmond'"
                            [source]="dataAdapterActividades" [selectedIndex]="-1" (onSelect)="ListarTareas($event)">
                        </jqxDropDownList>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row" style="margin: 0px;">
                    <div class="col-md-12" style="text-align: center">
                        <label style="padding: 0; margin: 0 5px;">Tareas:</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <jqxDropDownList #dropDownTareas [height]="22" [width]="'100%'" [displayMember]="'descripcionTarea'"
                            [valueMember]="'idObjetivoTarea'" [theme]="'ui-redmond'" [source]="dataAdapterTareas" [selectedIndex]="-1">
                        </jqxDropDownList>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-group" style="margin:0px">
            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label style="padding: 0; margin: 0 5px;">Tipo Participante:</label>
                    </div>
                    <div class="col-md-8">
                        <jqxDropDownList #dropDownTipoParticipante [height]="22" [width]="'100%'"
                            [displayMember]="'descripcion'" [valueMember]="'id'" [theme]="'ui-redmond'"
                            [source]="dataAdapterTipoParticipante" [selectedIndex]="-1" (onSelect)="tipoParticipante($event)">
                        </jqxDropDownList>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label style="padding: 0; margin: 0 5px;">Participante:</label>
                    </div>
                    <div class="col-md-8">
                        <jqxDropDownList #dropDownParticipante [height]="22" [width]="'100%'"
                            [displayMember]="'nombres'" [valueMember]="'idPersona'" [theme]="'ui-redmond'"
                            [source]="dataAdapterParticipante" [selectedIndex]="-1">
                        </jqxDropDownList>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <jqxGrid #gridActividadesParticipantes style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
            [source]="dataAdapterActividadesParticipantes" [columns]="columnsActividadesParticipantes"
            [filterable]="false" [localization]="localization" [autoheight]="true" [selectionmode]="'none'"
            [autorowheight]="true" [sortable]="false" [editable]="false" [showtoolbar]="true"
            [rendertoolbar]="rendertoolbar" (onRowclick)="Rowselect($event)">
        </jqxGrid>
    </div>
</div>
<app-modal-component></app-modal-component>