<jqxScheduler #schedulerReference [date]="date" [width]="800" [height]="600" [source]="dataAdapter" [showLegend]="true"
  [view]="'weekView'" [appointmentDataFields]="appointmentDataFields" [resources]="resources" [views]="views"
   (onCellDoubleClick)="CellDoubleClick($event)"[editDialog]="false" (onAppointmentAdd)="generarAppointmentAdd($event)"
   [localization]="localization" (onEditDialogCreate)="EditDialogCreate($event)" [theme]="'ui-redmond'">
</jqxScheduler>
<app-modal-tareas (PassMethods)="procesaPassMethods($event)"></app-modal-tareas>