<jqxValidator #myValidator [rules]="rules" [animationDuration]="0" (onValidationSuccess)="ValidationSuccess($event)">
  <form id='form' action="./">

    <div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left"></h4>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="text-justify modal-body" style="font-family:Verdana,Arial,san-serif;color: #000;font-size: 15px;">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Aceptar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div bsModal #formNuevo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <fieldset class="w-100">
              <button type="button" (click)="formNuevo.hide()" class="btn btn-dark">Cancelar</button>
              <button type="button" (click)="Submit()" class="btn btn-primary float-left"
                data-dismiss="modal">Grabar</button>
            </fieldset>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <div class="card">

                  <div class="card-body">
                    <div class="card border-dark" style="width: 100%">
                      <div class="card-header border-dark" style="background-color: #004a73">
                        <h2 class="text-white"> Registro de Nuevo Programa</h2>
                      </div>
                      <div class="card-body text-dark">

                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Título:</label>
                          </div>
                          <div style="width: 400px;">
                            <jqxInput #myinputTitulo [theme]="'ui-redmond'" [maxLength]="255" class="nombreInput" [width]="'100%'" [height]="22" name="nombre">
                            </jqxInput>
                          </div>
                        </div>
                        <div style="margin-top: 1%"></div>
                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Descripción:</label>
                          </div>
                          <div style="width: 400px;">
                            <jqxTextArea #myinputDescripcion [theme]="'ui-redmond'" [width]="'100%'" [height]='50'
                              [maxLength]="255" class="descripcionInput"
                              [placeHolder]="'Descripción General del Programa'" name="descripcion">
                            </jqxTextArea>
                          </div>
                        </div>
                        <div style="margin-top: 1%"></div>
                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Fecha Inicio:</label>
                          </div>
                          <div style="width: 200px;padding-right: 3%;">
                            <jqxDateTimeInput #myfechaDesde [width]="'100%'" [height]="25" [theme]="'ui-redmond'"
                              name="fechaDesde">
                            </jqxDateTimeInput>
                          </div>

                        </div>
                        <div style="margin-top: 1%"></div>
                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Fecha Fin:</label>
                          </div>
                          <div style="width: 200px;padding-right: 3%;">
                            <jqxDateTimeInput #myfechaHasta [width]="'100%'" [height]="25" [theme]="'ui-redmond'"
                              name="fechaHasta" >
                            </jqxDateTimeInput>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </form>
</jqxValidator>