<div class="card card-accent-info">
  <div class="card">
    <div class="card-header">
      <h4 class="fa fa-align-justify"></h4>Datos Proyectos
    </div>
    <div class="card-boddy">
      <div class="row">

        <div class="col-md-2">
          <strong>Convocatoria:</strong>
        </div>
        <div class="col-md-2">
          <label style="margin: 0% 0%">{{convDescripcion}} </label>
        </div>
        <div class="col-md-2">
          <strong>Fecha Desde:</strong>
        </div>
        <div class="col-md-2">
          <label style="margin: 0% 0%">{{convFechaDesde | date:'dd-MM-yyyy'}} </label>
        </div>
        <div class="col-md-2">
          <strong>Fecha Hasta:</strong>
        </div>
        <div class="col-md-2">
          <label style="margin: 0% 0%">{{convFechaHasta | date:'dd-MM-yyyy'}} </label>
        </div>
      </div>

      <div class="row">

        <div [hidden]="mostrarTitulo" class=" col-md-6">
            <strong>Facultad:</strong>
            <label style="margin: 0% 0%"> {{Titulo}} </label>
          
        </div>
        <div [hidden]="mostrarFacultad" class="col-md-2">
          <strong>Facultades:</strong>
        </div>
        <div [hidden]="mostrarFacultad" class="col-md-4">
          <jqxDropDownList #dropDownFacultad [height]="22" [width]="'100%'" [displayMember]="'facultad'"
            [valueMember]="'idFacultad'" [theme]="'ui-redmond'" [filterable]="true" [source]="dataAdapterFacultad"
            [selectedIndex]="-1" (onSelect)="ListarOfertas($event)">
          </jqxDropDownList>
        </div>

        <div class="col-md-2">
          <strong style="text-align:left">Carreras:</strong>
        </div>
        <div class="col-md-4">
          <jqxDropDownList #dropDownCarrera [theme]="'ui-redmond'" [selectedIndex]="-1" [displayMember]="'descripcion'"
            [valueMember]="'id'" [width]="'100%'" [source]="dataAdapterCarrera" [height]='22' [filterable]="true"
            (onSelect)="ListarProyectos()">
          </jqxDropDownList>
        </div>


      </div>
    </div>
    <div class="card-footer ">
      <div class="row">
        <div class="col-md-4">
          <div style="text-align:left">{{tipo}}:</div>
        </div>
        <div class="col-md-8">
          {{directorProyecto}}
        </div>

      </div>
    </div>
    <div lass="card-body">
      <jqxTabs #jqxTabsPrincipal [theme]="'ui-redmond'">
        <ul>
          <li>Proyectos</li>
          <li [hidden]="mostrarPrograma">Programas</li>
        </ul>
        <div>
          <div class="card-body" style="padding:0px;">
            <!--     
            <jqxMenu #myMenu [hidden]="mostrarMenu" style='margin-left: 3px; margin-top: 5px;'
              (onItemclick)="itemclick($event)" [source]="menuProyecto" [theme]="'ui-redmond'" [width]="'99%'"
              [height]="30">
            </jqxMenu> -->

            <jqxGrid #gridProyectoRegistrados [theme]="'ui-redmond'" [width]="'99%'" [showtoolbar]="true"
              [rendertoolbar]="rendertoolbar" [source]="dataAdapterProyectoRegistrados" [columns]="columnsProyectos"
              [virtualmode]="false" [filterable]="true" [pageable]="true" [autoheight]="true" [sortable]="true"
              [altrows]="true" [enabletooltips]="true" [localization]="localization" [autorowheight]="true"
              [hidden]="isCollapsed" [rowdetails]="true" [initrowdetails]="initRowDetails" [ready]="ready"
              [rowdetailstemplate]="rowdetailstemplate" (onRowclick)="Rowselect($event)">
            </jqxGrid>
          </div>
        </div>
        <div class="card-body" style="padding:0px;">
          <jqxTabs #jqxTabsPrograma [theme]="'ui-redmond'">
            <ul>
              <li>Nuevo</li>
              <li>Add Detalles</li>
              <li>Eliminar</li>
            </ul>
            <div>
              <div class="card-body">
                <jqxGrid #gridProgramaRegistrados [theme]="'ui-redmond'" [width]="'99%'"
                  [source]="dataAdapterProgramaRegistrados" [columns]="columnsPrograma" [virtualmode]="false"
                  [filterable]="true" [pageable]="true" [autoheight]="true" [sortable]="true" [altrows]="true"
                  [enabletooltips]="true" [localization]="localization" [autorowheight]="true" [hidden]="isCollapsed"
                  [rowdetails]="true" [initrowdetails]="initRowDetails" [ready]="ready"
                  [rowdetailstemplate]="rowdetailstemplate">
                </jqxGrid>
              </div>
            </div>
            <div class="card" style="padding: 5px;">
              <div class="card card-accent-info">
                <div class="card-header">
                  <h4 style="padding: 0; margin: 0;">Datos Generales</h4>
                </div>
                <div class="card-body">
                  <div class="card-body text-dark">

                    <div class="form-row">
                      <div style="width: 100px; padding-right: 1%;">
                        <label>Título:</label>
                      </div>
                      <div style="width: 400px;">
                        <jqxInput #myinputTitulo [theme]="'darkblue'" [maxLength]="255" class="nombreInput"
                          [width]="'100%'" [height]="22" name="nombre">
                        </jqxInput>
                      </div>
                    </div>
                    <div style="margin-top: 1%"></div>
                    <div class="form-row">
                      <div style="width: 100px; padding-right: 1%;">
                        <label>Descripción:</label>
                      </div>
                      <div style="width: 400px;">
                        <jqxTextArea #myinputDescripcion [theme]="'ui-redmond'" [width]="'100%'" [height]='50'
                          [maxLength]="255" class="descripcionInput" [placeHolder]="'Descripción General del Proyecto'"
                          name="descripcion">
                        </jqxTextArea>
                      </div>
                    </div>
                    <div style="margin-top: 1%"></div>
                    <div class="form-row">
                      <div style="width: 100px; padding-right: 1%;">
                        <label>Fecha Inicio:</label>
                      </div>
                      <div style="width: 200px;padding-right: 3%;">
                        <jqxDateTimeInput #myfechaDesde [width]="'100%'" [height]="25" [theme]="'ui-redmond'"
                          name="fechaDesde">
                        </jqxDateTimeInput>
                      </div>

                    </div>
                    <div style="margin-top: 1%"></div>
                    <div class="form-row">
                      <div style="width: 100px; padding-right: 1%;">
                        <label>Fecha Fin:</label>
                      </div>
                      <div style="width: 200px;padding-right: 3%;">
                        <jqxDateTimeInput #myfechaHasta [width]="'100%'" [height]="25" [theme]="'ui-redmond'"
                          name="fechaHasta">
                        </jqxDateTimeInput>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-accent-info">
                <div class="card-header">
                  <h4 style="padding: 0; margin: 0;">Plan Nacional del Buen Vivir</h4>
                </div>
                <div class="card-body">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <div class="col-md-2">
                        <label>Eje:</label>
                      </div>
                      <div class="col-md-10">
                        <jqxDropDownList #dropDownPeriodo [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
                          [valueMember]="'id'" [theme]="'ui-redmond'" [filterable]="true" [source]="dataAdapterPeriodo"
                          [selectedIndex]="-1">
                        </jqxDropDownList>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4">
                        <div style="text-align:left">Objetivo:</div>
                      </div>
                      <div class="col-md-8">
                        <jqxDropDownList #dropDownCarrera [theme]="'ui-redmond'" [selectedIndex]="-1"
                          [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'"
                          [source]="dataAdapterCarrera" [height]='22' [filterable]="true">
                        </jqxDropDownList>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4">
                        <div style="text-align:left">Lineamientos:</div>
                      </div>
                      <div class="col-md-8">
                        <jqxDropDownList #dropDownCarrera [theme]="'ui-redmond'" [selectedIndex]="-1"
                          [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'"
                          [source]="dataAdapterCarrera" [height]='22' [filterable]="true">
                        </jqxDropDownList>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-accent-info">
                <div class="card-header">
                  <h4 style="padding: 0; margin: 0;">Asignar Proyectos</h4>
                </div>
                <div class="card-body">
                  <jqxGrid #gridDirectorProyecto style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
                    [source]="dataAdapterDirectorProyecto" [columns]="columnsDirectorProyecto" [filterable]="false"
                    [localization]="localization" [autoheight]="true" [selectionmode]="'none'" [autorowheight]="true"
                    [sortable]="false" [editable]="true" [showtoolbar]="true" [rendertoolbar]="rendertoolbar">
                  </jqxGrid>
                </div>
              </div>
            </div>
            <div class="card" style="padding: 15px;">
              three
            </div>
          </jqxTabs>
        </div>
      </jqxTabs>
    </div>

  </div>


  <!--<div class="row">
          <div class="col-sm-12">
            <div [hidden]="mostrarFacultad" class="form-group row">
              <div class="col-md-2">
                <label>Facultades:</label>
              </div>
              <div class="col-md-4">
                <jqxDropDownList #dropDownFacultad [height]="22" [width]="'100%'" [displayMember]="'facultad'"
                  [valueMember]="'idFacultad'" [theme]="'darkblue'" [filterable]="true" [source]="dataAdapterFacultad"
                  [selectedIndex]="-1" (onSelect)="ListarOfertas($event)">
                </jqxDropDownList>
              </div>
              <div class="col-md-2">
                <div style="text-align:left">Carreras:</div>
              </div>
              <div class="col-md-4">
                <jqxDropDownList #dropDownCarrera [theme]="'darkblue'" [selectedIndex]="-1"
                  [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'" [source]="dataAdapterCarrera"
                  [height]='22' [filterable]="true">
                </jqxDropDownList>
              </div>
              <div class="col-md-2">
                <label>Programas:</label>
              </div>
              <div class="col-md-4">
                <jqxDropDownList #dropDownProgramas [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
                  [valueMember]="'id'" [theme]="'darkblue'" [filterable]="true" [source]="dataAdapterProgramas"
                  [selectedIndex]="-1">
                </jqxDropDownList>
              </div>
              <div class="col-md-2">
                <label>Proyectos:</label>
              </div>
              <div class="col-md-4">
                <jqxDropDownList #dropDownProyectos [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
                  [valueMember]="'id'" [theme]="'darkblue'" [filterable]="true" [source]="dataAdapterProgramas"
                  [selectedIndex]="-1">
                </jqxDropDownList>
              </div>
            </div>
          </div>
        </div>-->


  <app-modal-component></app-modal-component>
  <app-modal-proyecto idDepOfertaH={{idDepOfertaP}} idConvProy={{idConvocatoriaProyecto}}
    (cedulaIngresada)="cedulaRecibida($event)" (PassMethods)="procesaPassMethods($event)"></app-modal-proyecto>