<div class="row">
  <div class="col-sm">
    <div class="card" style="width: 100%">
      
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <div class="col-md-2">
                <label>Facultades:</label>
              </div>
              <div class="col-md-4">
                <jqxDropDownList #dropDownFacultad [height]="22" [width]="'100%'" [displayMember]="'descripcion'"
                [valueMember]="'id'" [theme]="'ui-redmond'" [filterable]="true"
                [source]="dataAdapterFacultad" [selectedIndex]="-1">
              </jqxDropDownList>
              <div #titulo class="card-header border-dark" style="background-color: #004a73">
                <label class="h4 text-white" style="margin: 0% 0%">{{Titulo}} </label>
              </div>
              </div>
              <div class="col-md-1">
                <div style="text-align:left">Carreras:</div>
              </div>
              <div class="col-md-5">
                <jqxDropDownList #dropDownCarrera [theme]="'darkblue'" [selectedIndex]="-1"
                [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'"
                [source]="dataAdapterCarrera" [height]='22'[filterable]="true" [theme]="'ui-redmond'">
                </jqxDropDownList>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header" >
        <h4 style="padding: 0; margin: 0;">Listado de Programas</h4>
      </div>
      <div class="card-header">
        <jqxMenu (onItemclick)="itemclick($event)" 
          [source]="menuPrograma"
          [theme]="'ui-redmond'"
          [width]="'100%'"
          [height]="30"
        >
        </jqxMenu>
      </div>
      <div class="card-body">
        <jqxGrid #gridProgramasRegistrados
          [theme]="'ui-redmond'"
          [width]="'100%'" 
          [source]="dataAdapterProgramasRegistrados"
          [columns]="columnsProgramas" 
          [virtualmode]="false"
          [filterable]="true" 
          [pageable]="true"
          [autoheight]="true" 
          [sortable]="true" 
          [altrows]="true" 
          [enabletooltips]="true"
          [localization]="localization"
          [autorowheight]="true"
          [hidden]="isCollapsed"
          [rowdetails]="true"  
          [initrowdetails]="initRowDetails"
          [ready]="ready" 
          [rowdetailstemplate]="rowdetailstemplate"
        >
        </jqxGrid>
      </div>
    </div>
  </div>
</div>
<!--<app-modal-component></app-modal-component>-->
<app-modal-programa></app-modal-programa>

