<jqxValidator #myValidator [rules]="rules" [animationDuration]="0" (onValidationSuccess)="ValidationSuccess($event)">
  <form id='form' action="./">

    <div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <fieldset class="w-100">
              <div class="card-header border-dark" style="background-color: #004a73">
                <h2 class="text-white"> Ingrese Cédula</h2>
              </div>
            </fieldset>
          </div>
          <div class="text-justify modal-body" style="font-family:Verdana,Arial,san-serif;color: #000;font-size: 15px;">
            <div class="form-row">
              <div style="width: 100px; padding-right: 1%;">
                <label>Cédula:</label>
              </div>
              <div style="width: 400px;">
                <jqxInput #myCedula [theme]="'ui-redmond'" [maxLength]="255" class="nombreInput" [width]="'100%'"
                  [height]="22" name="nombre">
                </jqxInput>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="enviarCedula()" class="btn btn-primary">Aceptar</button>
            <button type="button" (click)="template.hide()" class="btn btn-dark">Cancelar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div bsModal #templateSioNo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="font-family:Verdana,Arial,san-serif;color: #000;font-size: 15px;">
            <h4 class="modal-title pull-left">{{opcion.title}}</h4>
            <button type="button" class="close" (click)="CancelQ()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="text-justify modal-body" style="font-family:Verdana,Arial,san-serif;color: #000;font-size: 15px;">
            {{opcion.msg}}
          </div>
          <div class="modal-footer">
            <button type="button" (click)="Si()" class="btn btn-primary">Si</button>
            <button type="button" class="btn btn-dark" (click)="No()" data-dismiss="templateQuestion">No</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div bsModal #templateNuevaVersion="bs-modal" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <fieldset class="w-100">
              <div class="card-header border-dark" style="background-color: #004a73">
                <h2 class="text-white"> NUEVA VERSIÓN</h2>
              </div>
            </fieldset>
          </div>
          <div class="text-justify modal-body" style="font-family:Verdana,Arial,san-serif;color: #000;font-size: 15px;">
            <div class="form-row">
              <div style="width: 100px; padding-right: 1%;">
                <label>Subir Documento:</label>
              </div>
              <div class="form-row">
                <div style="width: 200px;padding-right: 3%;">
                  <input #myFileNuevaVersion type="file" name="file" accept="application/pdf"
                    (change)='selectFileNuevaVersion($event.target.files)' style="color: transparent;" />
                  <label id="labelInput">{{opcion.url}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="grabarFileVersion()" class="btn btn-primary">Subir y Enviar</button>
            <button type="button" (click)="subirFileVersion()" class="btn btn-primary">Subir</button>
            <button type="button" (click)="templateNuevaVersion.ngOnDestroy()" class="btn btn-dark">Cancelar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div bsModal #formNuevo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered  modal-ms" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <fieldset class="w-100">
              <button type="button" (click)="cancelar()" class="btn btn-dark">Cancelar</button>
              <button type="button" (click)="Submit()" class="btn btn-primary float-left"
                data-dismiss="modal">Grabar</button>
            </fieldset>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <div class="card border-dark" style="width: 100%">
                      <div class="card-header border-dark" style="background-color: #004a73">
                        <h2 class="text-white"> Registro de Nuevo Proyecto</h2>
                      </div>
                      <div class="card-body text-dark">
                        <!--<div class="row">
                          <div class="col-sm-12" style="margin-bottom: -10px">
                            <div class="form-group row">
                              <div class="col-md-2">
                              </div>
                              <div class="col-md-6">
                                <jqxCheckBox #checkBoxPrograma style="margin: 0px;" (onChange)="checkChange($event)">
                                  Programa por aprobar
                                </jqxCheckBox>
                              </div>
                            </div>
                          </div>
                        </div>-->
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group row">
                              <div class="col-md-2">
                                <label>Programa:</label>
                              </div>
                              <div class="col-md-10">
                                <jqxDropDownList #dropDownPrograma [height]="22" [width]="'100%'"
                                  [displayMember]="'tituloPrograma'" [valueMember]="'idPrograma'" [theme]="'ui-redmond'"
                                  [filterable]="true" [source]="dataAdapterPrograma" [selectedIndex]="-1"
                                  (onSelect)="itemSeleccionado($event)">
                                </jqxDropDownList>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Título:</label>
                          </div>
                          <div style="width: 400px;">
                            <jqxInput #myinputTitulo [theme]="'ui-redmond'" [maxLength]="255" class="tituloInput"
                              [width]="'100%'" [height]="22" name="titulo" [(ngModel)]="opcion.titulo">
                            </jqxInput>
                          </div>
                        </div>
                        <div style="margin-top: 1%"></div>
                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Descripción:</label>
                          </div>
                          <div style="width: 400px;">
                            <jqxTextArea #myinputDescripcion [theme]="'ui-redmond'" [width]="'100%'" [height]='50'
                              [maxLength]="255" class="descripcionInput" [(ngModel)]="opcion.descripcion"
                              [placeHolder]="'Descripción General del Proyecto'" name="descripcion">
                            </jqxTextArea>
                          </div>
                        </div>
                        <div style="margin-top: 1%"></div>
                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Fecha Inicio:</label>
                          </div>
                          <div style="width: 200px;padding-right: 3%;">
                            <jqxDateTimeInput #myfechaDesde [width]="'100%'" [height]="25" [theme]="'ui-redmond'"
                              name="fechaDesde" [(ngModel)]="opcion.fechaDesde" [formatString]="'yyyy-MM-dd'">
                            </jqxDateTimeInput>
                          </div>

                        </div>
                        <div style="margin-top: 1%"></div>
                        <div class="form-row">
                          <div style="width: 100px; padding-right: 1%;">
                            <label>Fecha Fin:</label>
                          </div>
                          <div style="width: 200px;padding-right: 3%;">
                            <jqxDateTimeInput #myfechaHasta [width]="'100%'" [height]="25" [theme]="'ui-redmond'"
                              name="fechaHasta" [(ngModel)]="opcion.fechaHasta" [formatString]="'yyyy-MM-dd'">
                            </jqxDateTimeInput>
                          </div>
                        </div>
                        <div style="margin-top: 1%"></div>
                        <div class="form-row">
                          <div style="width: 100%; padding-right: 1%;">
                            <label>Subir Documento:</label>
                          </div>
                        </div>
                        <div class="form-row">
                          <div style="width: 200px;padding-right: 3%;">
                            <input #myFileUpload type="file" name="file" accept="application/pdf"
                              (change)='onUploadStart($event.target.files)' />
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </form>
</jqxValidator>
<app-modal-component></app-modal-component>