<div class="card card-accent-info">

    <div class="card-header">
      <jqxMenu #jqxMenu (onItemclick)="itemclick($event)" [source]="menus" [theme]="'ui-redmond'" [width]="'100%'">
      </jqxMenu>
    </div>
    <div  class="card-boddy">
      <my-tabs>
        <my-tab></my-tab>
      </my-tabs>

      <ng-template #DatosGenerales>    
        <app-datos-generales [proyecto]="proyecto" [proyectoVersion]="proyectoVersion"
          [proyectoPresupuesto]="proyectoPresupuesto" [proyectoAreaGeografica]="proyectoAreaGeografica"
          [proyectoAsignatura]="proyectoAsignatura" [dataSemestre]="dataSemestre"
          [institucionBeneficiaria]="institucionBeneficiaria"></app-datos-generales>
      </ng-template>

      <ng-template #Beneficiarios>
        <app-beneficiarios [proyectoPersona]="proyectoPersona" [institucionBeneficiaria]="institucionBeneficiaria">
        </app-beneficiarios>
      </ng-template>

      <ng-template #AsignarPersonal>
        <app-asignar-personal [dataSemestre]="dataSemestre"></app-asignar-personal>
      </ng-template>

      <ng-template #Institucion>
        <app-institucion [lineasInvestigacion]="lineasInvestigacion" 
        [proyectoLineasInv]="proyectoLineasInv" [proyectoDominiosAcad]="proyectoDominiosAcad"
        [proyectoAreaUns]="proyectoAreaUns"></app-institucion>
      </ng-template>

      <ng-template #MarcoLogico>
        <app-marco-logico [proyecto]="proyecto"></app-marco-logico>
      </ng-template>
    </div>


</div>
<app-modal-component></app-modal-component>
<app-modal-proyecto 
  (procesarSioNo)="procesarSioNo($event)" ></app-modal-proyecto>