<div>
  <div class="card card-accent-info">
    <div class="card-header border-dark" style="background-color: #004a73">
      <label class="h5 text-white" style="margin: 0% 0%">Sección Docentes </label>
    </div>
    <div class="card-body">
      <!--<div class="card card-accent-info">
        <div class="card-header">
          <h6 style="padding: 0; margin: 0;">Director del Proyecto</h6>
        </div>
        <div class="card-body">
          <jqxGrid #gridDirectorProyecto style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
            [source]="dataAdapterDirectorProyecto" [columns]="columnsDirectorProyecto" [filterable]="false"
            [localization]="localization" [autoheight]="true" [selectionmode]="'none'" [autorowheight]="true"
            [sortable]="false" [editable]="false" [showtoolbar]="true">
          </jqxGrid>
        </div>
      </div>-->
      <div class="card card-accent-info">
        <div class="card-header">
          <h6 style="padding: 0; margin: 0;">Docentes Participantes</h6>
        </div>
        <div class="card-body">
          <div class="container" style="margin-bottom: 10px">
            <div class="row">
              <div class="col-sm-4">
                <label class="text-dark">Carreras:</label>
                <jqxDropDownList #dropDownCarreraDP [theme]="'ui-redmond'" [selectedIndex]="-1"
                  [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'" [source]="dataAdapterCarrera"
                  [height]='22' (onSelect)="ListarDocentes($event)">
                </jqxDropDownList>
              </div>
              <div class="col-sm-4">
                <label class="text-dark">Docentes:</label>
                <jqxDropDownList #dropDownDocentes [theme]="'ui-redmond'" [selectedIndex]="-1" [displayMember]="'nombres'"
                  [valueMember]="'idDocente'" [width]="'100%'" [source]="dataAdapterDocentes" [height]='22'
                  [filterable]="true">
                </jqxDropDownList>
              </div>
              <!--
                <div class="col-sm-2" style="margin-top: 20px">
                  <button type="button" (click)="AgregarDocente()" 
                  class="btn btn-primary" style="height:25px;font: inherit;padding: 2px;">Agregar</button>                     
                </div>
                -->


            </div>
          </div>
          <jqxGrid #gridDocenteParticipantes style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
            [source]="dataAdapterDocenteParticipantes" [columns]="columnsDocenteParticipantes" [filterable]="false"
            [localization]="localization" [autoheight]="true" [selectionmode]="'none'" [autorowheight]="true"
            [sortable]="false" [editable]="false" [showtoolbar]="true" [rendertoolbar]="rendertoolbar"
            (onRowclick)="Rowselect($event)">
          </jqxGrid>
        </div>
      </div>
    </div>
    <div class="card-header border-dark" style="background-color: #004a73">
      <label class="h5 text-white" style="margin: 0% 0%">Sección Estudiantes </label>
    </div>
    <div class="card-body">
      <!--<div class="card card-accent-info">
        <div class="card-header">
          <h6 style="padding: 0; margin: 0;">Estudiante Coordinador</h6>
        </div>
        <div class="card-body">
          <div class="container" style="margin-bottom: 10px">
            <div class="row">
              <div class="col-sm-4">
                <label class="text-dark">Carreras:</label>
                <jqxDropDownList #dropDownCarreraEC [theme]="'ui-redmond'" [selectedIndex]="-1"
                  [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'" [source]="dataAdapterCarrera"
                  [height]='22' (onSelect)="itemCarreraCoSele($event)">
                </jqxDropDownList>
              </div>
              <div class="col-sm-2">
                <label class="text-dark">Paralelo:</label>
                <jqxDropDownList #dropDownParaleloEC [theme]="'ui-redmond'" [selectedIndex]="-1" [displayMember]="'label'"
                  [valueMember]="'id'" [width]="'100%'" [source]="dataAdapterParalelo" [height]='22'
                  (onSelect)="ListarEstudiantesCo($event)">
                </jqxDropDownList>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4" *ngIf="dataAdapterSemestre">
                <label class="text-dark">Semestre:</label>
                <jqxDropDownList #dropDownSemestreEC [theme]="'ui-redmond'" [selectedIndex]="-1"
                  [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'" [source]="dataAdapterSemestre"
                  [height]='22' (onSelect)="itemSemestreCoSele($event)">
                </jqxDropDownList>
              </div>
              <div class="col-sm-6">
                <label class="text-dark">Estudantes:</label>
                <jqxDropDownList #dropDownEstudiantesCo [theme]="'ui-redmond'" [selectedIndex]="-1"
                  [displayMember]="'nombreCompleto'" [valueMember]="'idEstudiante'" [width]="'100%'"
                  [source]="dataAdapterEstudiantesCo" [height]='22' [filterable]="true"
                  (onSelect)="estudianteCoSelect($event)">
                </jqxDropDownList>

              </div>
            </div>
          </div>
          <jqxGrid #gridEstudianteCoordinador style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
            [source]="dataAdapterEstudianteCoordinador" [columns]="columnsEstudianteCoordinador" [filterable]="false"
            [localization]="localization" [autoheight]="true" [selectionmode]="'none'" [autorowheight]="true"
            [sortable]="false" [editable]="false" [showtoolbar]="true" [rendertoolbar]="rendertoolbarEC"
            (onRowclick)="RowselectEC($event)">
          </jqxGrid>
        </div>
      </div>-->
      <div class="card card-accent-info">
        <div class="card-header">
          <h6 style="padding: 0; margin: 0;">Estudiantes Participantes</h6>
        </div>
        <div class="card-body">
          <div class="container" style="margin-bottom: 10px">
            <div class="row">
              <div class="col-sm-4">
                <label class="text-dark">Carreras:</label>
                <jqxDropDownList #dropDownCarreraEP [theme]="'ui-redmond'" [selectedIndex]="-1"
                  [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'" [source]="dataAdapterCarrera"
                  [height]='22' (onSelect)="itemCarreraPaSele($event)">
                </jqxDropDownList>
              </div>
              <div class="col-sm-2">
                <label class="text-dark">Paralelo:</label>
                <jqxDropDownList #dropDownParaleloEP [theme]="'ui-redmond'" [selectedIndex]="-1" [displayMember]="'label'"
                  [valueMember]="'id'" [width]="'100%'" [source]="dataAdapterParalelo" [height]='22'
                  (onSelect)="ListarEstudiantesPa($event)">
                </jqxDropDownList>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <label class="text-dark">Semestre:</label>
                <jqxDropDownList #dropDownSemestreEP [theme]="'ui-redmond'" [selectedIndex]="-1"
                  [displayMember]="'descripcion'" [valueMember]="'id'" [width]="'100%'" [source]="dataAdapterSemestre"
                  [height]='22' (onSelect)="itemSemestrePaSele($event)">
                </jqxDropDownList>
              </div>
              <div class="col-sm-6">
                <label class="text-dark">Estudiantes:</label>
                <jqxDropDownList #dropDownEstudiantesPa [theme]="'ui-redmond'" [selectedIndex]="-1"
                  [displayMember]="'nombreCompleto'" [valueMember]="'idEstudiante'" [width]="'100%'"
                  [source]="dataAdapterEstudiantesPa" [height]='22' [filterable]="true" [checkboxes]="true"
                  (onSelect)="estudiantePaSelect($event)">
                </jqxDropDownList>
              </div>
            </div>
          </div>
          <jqxGrid #gridEstudianteParticipantes style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
            [source]="dataAdapterEstudianteParticipantes" [columns]="columnsEstudianteParticipantes"
            [filterable]="false" [localization]="localization" [autoheight]="true" [selectionmode]="'none'"
            [autorowheight]="true" [sortable]="false" [editable]="true" [showtoolbar]="true"
            [rendertoolbar]="rendertoolbarEP" (onRowclick)="RowselectEP($event)">
          </jqxGrid>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-component></app-modal-component>
<app-modal-detalles-participantes></app-modal-detalles-participantes>