// html, body {
//     width: 100vw;
//     height: 100vh;
//     padding: 0;
//     margin: 0;
//     overflow: hidden;
//   }

// #prueba {
//   width: 60%;
//   background-color: #a31f8d;
//   color: #fff;
// }
// #prueba1 {
//   width: 80%;
//   background-color: #1f8f64;
//   color: #fff;
// }


// #prueba2 {
//   width: 100%;
//   background-color: #6ea7d1;
//   color: #fff;
// }
.row{
  margin-bottom: 10px;
}

.text-input {
  height: 21px;
  width: 200px;
}

.register-table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-table td,
.register-table tr {
  margin: 0px;
  padding: 2px;
  border-spacing: 0px;
  border-collapse: collapse;
  font-family: Verdana;
  font-size: 12px;
}

h3 {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
