<form id='form' action="./">
  <div bsModal #formNuevo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" id="prueba" >
    <div class="modal-dialog modal-dialog-centered modal-lg  modal-xg" role="document" id="prueba1">
      <div class="modal-content" id="prueba2">
        <div class="modal-header">
          <h5 > Malla</h5>
        </div>
        <div class="modal-body">
          <div class="row" >
            <div class="col-sm-2">
              <label>Carrera:</label>
            </div>
            <div class="col-sm-10">
              <jqxDropDownList #cmbOfertas (onSelect)="listOnSelect($event)" [width]="'100%'" [filterable]="true"
                [height]="22" [theme]="'ui-redmond'" [displayMember]="'oferta'" [valueMember]="'id'">
              </jqxDropDownList>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label>Descripcion:</label>
            </div>
            <div class="col-sm-10">
              <jqxInput #inputDetalle [width]="'100%'" [height]="22" disabled="false" [theme]="'ui-redmond'"
                [minLength]="1" [(ngModel)]="opcion.descripcion" name="descripcion" [placeHolder]="'Nombre de Malla:'">
              </jqxInput>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label>Reglamento:</label>
            </div>
            <div class="col-sm-10">
              <jqxInput #inputReglamento [width]="'100%'" [height]="22" disabled="false" [minLength]="1"
                [theme]="'ui-redmond'" [placeHolder]="'reg.:'">
              </jqxInput>
              <!--    <jqxInput #inputReglamento
              [width]="'100%'" 
              [height]="22" 
              [(ngModel)]="opcion.idReglamento"
              name="reglamento"
              [minLength]="1" 
              [placeHolder]="'reg.:'" 
              [renderer]="renderer" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false">
              </jqxInput> -->

            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <label>Número materias mínima para aprobar mallas</label>
            </div>
            <div class="col-sm-4">
              <jqxNumberInput #inputMateriasA [(ngModel)]="opcion.numAsignaturasAprobar" name="nmateriasA" [digits]="2"
                [spinButtons]="true" [decimalDigits]="0" [theme]="'ui-redmond'" [inputMode]="'simple'" [width]="'100%'"
                [height]="22">
              </jqxNumberInput>

            </div>
          </div>
          <div class="row">

            <div class="col-sm-6">
              <label>Factor de multiplicación de componente:</label>
            </div>
            <div class="col-sm-2">
              <jqxCheckBox #myCheckFactMult [theme]="'ui-redmond'" [width]="'100%'" (onChange)="checkFactorMult($event)">
              </jqxCheckBox>
            </div>
            <div class="col-sm-4">
              <jqxNumberInput #factorMultDocente [(ngModel)]="opcion.factorMultComponenteDocencia" name="factorMult"
                [spinButtons]="true" [decimalDigits]="2" [digits]="1" [theme]="'ui-redmond'" [inputMode]="'simple'" [width]="'100%'"
                [height]="22">
              </jqxNumberInput>
            </div>

          </div>
          <div class="row">

            <div class="col-sm-3">
              <label>Nº. Materias</label>
            </div>
            <div class="col-sm-3">
              <jqxNumberInput #inputmMaterias [(ngModel)]="opcion.numAsignaturas" name="nmaterias" [spinButtons]="true"
                [decimalDigits]="0" [min]="40" [max]="60" [digits]="2" [theme]="'ui-redmond'" [inputMode]="'simple'" [width]="'100%'"
                [height]="22">
              </jqxNumberInput>
            </div>
            <div class="col-sm-3">
              <label>Nº. Niveles</label>
            </div>
            <div class="col-sm-3">
              <jqxNumberInput #inputNivelMin [(ngModel)]="opcion.numNiveles" name="nniveles" [spinButtons]="true" [digits]="2"
                [decimalDigits]="0" [min]="1" [max]="10" [theme]="'ui-redmond'" [inputMode]="'simple'" [width]="'100%'"
                [height]="22">
              </jqxNumberInput>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label>Nº. Creditos</label>
            </div>
            <div class="col-sm-3">

              <jqxNumberInput #inputCreditos [(ngModel)]="opcion.numCreditos" name="ncreditos" [spinButtons]="true"
                [decimalDigits]="0" (onChange)="calcularHoras()" [theme]="'ui-redmond'" [inputMode]="'simple'" [digits]="3"
                [width]="'100%'" [height]="22">
              </jqxNumberInput>
            </div>
            <div class="col-sm-3">
              <label>Nº. Horas</label>
            </div>

            <div class="col-sm-3">
              <jqxNumberInput #inputHoras [(ngModel)]="opcion.numeroHorasMaximo" name="nhorasmax" [spinButtons]="true"
                [decimalDigits]="0" disabled="false" [theme]="'ui-redmond'" [inputMode]="'simple'" [width]="'100%'"
                [height]="22">
              </jqxNumberInput>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label>Nivel Mín. Ofertado:</label>
            </div>
            <div class="col-sm-3">
              <jqxNumberInput #inputNiMin [(ngModel)]="opcion.idNivelMinAperturado" name="inputNivelMin"
                [spinButtons]="true" [decimalDigits]="0" [min]="1" [max]="10" [theme]="'ui-redmond'" [digits]="1"
                [inputMode]="'simple'" [width]="'100%'" [height]="22">
              </jqxNumberInput>
            </div>
            <div class="col-sm-3">
              <label>Nivel Máx. Ofertado:</label>
            </div>
            <div class="col-sm-3">
              <jqxNumberInput #inputNiMax [(ngModel)]="opcion.idNivelMaxAperturado" name="inputNivelMax"
                [spinButtons]="true" [decimalDigits]="0" [min]="1" [max]="10" [theme]="'ui-redmond'" [digits]="2"
                [inputMode]="'simple'" [width]="'100%'" [height]="22">
              </jqxNumberInput>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label>Fecha Aprobacion:</label>
            </div>
            <div class="col-sm-4">
              <jqxDateTimeInput #controlFecha [width]="'100%'" [height]="22" [theme]="'ui-redmond'" [value]="initialDate"
                [formatString]="'yyyy-MM-dd'" [(ngModel)]="opcion.fechaAprobacion" name="fechaAprobacion">
              </jqxDateTimeInput>
            </div>
            <div class="col-sm-2">
              <label>Fecha Desde</label>
            </div>
            <div class="col-sm-4">
              <jqxDateTimeInput #dateTimeFechaDesde [width]="'100%'" [height]="22" [theme]="'ui-redmond'"
                [(ngModel)]="opcion.fechaDesde" name="fechaDesde" [formatString]="'yyyy-MM-dd'">
              </jqxDateTimeInput>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-2">
              <label>Fecha Hasta:</label>
            </div>
            <div class="col-sm-4">
              <jqxDateTimeInput #dateTimeFechaHasta disabled="false" [width]="'100%'" [height]="22" [theme]="'ui-redmond'"
                [(ngModel)]="opcion.fechaHasta" name="fechaHasta" [formatString]="'yyyy-MM-dd'">
              </jqxDateTimeInput>

            </div>
            <div class="col-sm-4">

              <jqxCheckBox #myCheckFecha [theme]="'ui-redmond'" [width]="'100%'" (onChange)="checkChangeFecha($event)">
                <!--  [checked]="false" -->
              </jqxCheckBox>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-2">
              <label>Periodos</label>
            </div>
            <div class="col-sm-10">
              <jqxListBox #listPeriodosCheck (onCheckChange)="checkChange($event)" [checkboxes]="true"
                [theme]="'ui-redmond'" [source]="dataAdapterPeridoVigente" [displayMember]="'descripcion'"
                [valueMember]="'id'" [width]="'100%'" [height]="150">
              </jqxListBox>
            </div>
          </div>
        </div><!-- /.modal-body -->


        <div class="modal-footer col-sm-12">
          <button type="button" (click)="submit()" class="btn btn-primary">Grabar</button>
          <button type="button" class="btn btn-dark" (click)="cancelar()">Cancelar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</form>

<app-modal-component></app-modal-component>
<pre>
  <!-- {{this.datosMalla|json}} -->
</pre>