<div class="card card-accent-info">
  <div class="card-header">
    <strong> Oganización Beneficiaria</strong>
  </div>
  <div class="card-body">
   
      <div class="row">
        <div class="col-md-2">
          <label style="padding: 0; margin: 0 15px;">Razón Social:</label>
        </div>
        <div class="col-md-4">
          <jqxInput #myRazonSocial [theme]="'ui-redmond'" [maxLength]="255" class="razonSocialInput" [width]="'100%'"
            [height]="22" name="razonSocial" [(ngModel)]="institucionBeneficiaria.razonSocial">
          </jqxInput>
        </div>
        <div class="col-md-2">
          <label style="padding: 0; margin: 0 15px;">Dirección:</label>
        </div>
        <div class="col-md-4">
          <jqxInput #myinputDireccion [theme]="'ui-redmond'" [maxLength]="255" class="direccionInput" [width]="'100%'"
            [height]="22" name="direccion" [(ngModel)]="institucionBeneficiaria.direccion">
          </jqxInput>
        </div>
      </div>
 
    
    
      <div class="row">
        <div class="col-md-2">
          <label style="padding: 0; margin: 0 15px;">Correo:</label>
        </div>
        <div class="col-md-4">
          <jqxInput #myinputCorreo [theme]="'ui-redmond'" [maxLength]="255" class="correoInput" [width]="'100%'"
            [height]="22" name="correo" [(ngModel)]="institucionBeneficiaria.correo">
          </jqxInput>
        </div>
        <div class="col-md-2">
          <label style="padding: 0; margin: 0 15px;">Telefono:</label>
        </div>
        <div class="col-md-4">
          <jqxInput #myinputTelefono [theme]="'ui-redmond'" [maxLength]="255" class="telefonoInput" [width]="'100%'"
            [height]="22" name="telefono" [(ngModel)]="institucionBeneficiaria.telefono">
          </jqxInput>
        </div>
      </div>

    <div class="row">
      <div class="col-md-12">
      <div class="card card-accent-info">
        <div class="card-header">
          <strong style="padding: 0; margin: 0;">Representante Legal</strong>
        </div>
        <div class="card-body">
          <!--<jqxGrid #gridRepresLegalProyecto style='margin-left: 3px;' [theme]="'darkblue'" [width]="'100%'"
              [source]="dataAdapterRepresLegalProyecto" [columns]="columnsRepresLegalProyecto" [filterable]="false"
              [localization]="localization" [autoheight]="true" [selectionmode]="'none'" [autorowheight]="true"
              [sortable]="false" [editable]="true" [showtoolbar]="true">
            </jqxGrid>-->
            <div class="row">
              <div class="col-md-12">
                <jqxCheckBox #checkBoxValCedula  [theme]="'ui-redmond'">No validar cédula/marque esta opción en
                  el caso
                  de
                  extranjeros</jqxCheckBox>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label>Identificación</label>
              </div>
              <div class="col-md-4">
                <jqxInput #txtIdenficacion class="identificacionInput" [width]="'100%'" [height]="22"  [theme]="'ui-redmond'"
                          name="identificacion" [(ngModel)]="proyectoPersona.identificacion" [maxLength]="10">
                        </jqxInput>
              </div>
              </div>
              <div class="row">
              <div class="col-md-2">
                <label>Apellidos</label>
              </div>
              <div class="col-md-4">
                <jqxInput #txtApellidos class="apellidosInput" [width]="'100%'" [height]="22" name="apellidos"  [theme]="'ui-redmond'"
                          [(ngModel)]="proyectoPersona.apellidos" [maxLength]="30">
                        </jqxInput>
              </div>
              <div class="col-md-2">
                <label>Nombres</label>
              </div>
              <div class="col-md-4">
                <jqxInput #txtNombres class="nombresInput" [width]="'100%'" [height]="22" name="nombres"  [theme]="'ui-redmond'"
                          [(ngModel)]="proyectoPersona.nombres" [maxLength]="30"></jqxInput>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label>Teléfono</label>
              </div>
              <div class="col-md-4">
                <jqxMaskedInput #masketTelefono class="telefonoInput" [width]="'100%'" [height]="22"  [theme]="'ui-redmond'"
                          name="telefono" [mask]="'#########'" [(ngModel)]="proyectoPersona.telefono">
                        </jqxMaskedInput>
              </div>
              <div class="col-md-2">
                <label>Celular</label>
              </div>
              <div class="col-md-4">
                <jqxMaskedInput #masketCelular class="celularInput" [width]="'100%'" [height]="22" name="celular"  [theme]="'ui-redmond'"
                [mask]="'##########'" [(ngModel)]="proyectoPersona.celular">
              </jqxMaskedInput>
              </div>
            </div>          
            <div class="row">
              <div class="col-md-2">
                <label>E-mail-personal:</label>
              </div>
              <div class="col-md-4">
                <jqxInput #txtEmailPersonal class="email_personalInput" [placeHolder]="'docente@mail.com'"
                          name="email_personal" [width]="'100%'" [height]="22"  [theme]="'ui-redmond'"
                          [(ngModel)]="proyectoPersona.email_personal">
                        </jqxInput>
              </div>
              </div>       
                      

                    
        </div>
      </div>
     </div>
    </div>
    
      <div class="row">
        <div class="col-md-3">
          <label >Beneficiarios Directos:</label>
        </div>
        <div class="col-md-3">
          <jqxInput #myinpuBenefDirectos [theme]="'ui-redmond'" [maxLength]="255" class="benefDirectosInput"
            [width]="'100%'" [height]="22" name="benefDirectos" [(ngModel)]="institucionBeneficiaria.benefDirectos">
          </jqxInput>
        </div>
        <div class="col-md-3">
          <label >Beneficiarios Indirectos:</label>
        </div>
        <div class="col-md-3">
          <jqxInput #myinpuBenefIndirectos [theme]="'ui-redmond'" [maxLength]="255" class="benefIndirectosInput"
            [width]="'100%'" [height]="22" name="benefIndirectos" [(ngModel)]="institucionBeneficiaria.benefIndirectos">
          </jqxInput>
        </div>
      </div>
  
  </div>
</div>


<app-modal-component></app-modal-component>