<div class="card card-accent-info">
    <div class="card" style="width: 100%">
      <div class="card-header" >
          <h4 style="padding: 0; margin: 0;">Listado de Docentes</h4>
        
      </div>
     
     

      <div class="card-body">
        <jqxMenu style='margin-left: 3px; margin-top: 5px;' (onItemclick)="itemclick($event)" 
          [source]="menu"
          [theme]="'ui-redmond'" [width]="'100%'" [height]="30">
        </jqxMenu>
        <jqxGrid #gridDocentesRegistrados style='margin-left: 3px;' [theme]="'ui-redmond'" [width]="'100%'"
          [source]="dataAdapterDocentesRegistrados" [columns]="columnsDocente" [filterable]="true" 
          [pageable]="true" [showfilterrow]="true" [localization]="localization" [sortable]="false">
        </jqxGrid>
      </div>
    </div>
  </div>
<app-modal-component (PassMethods)="getEvents($event)"></app-modal-component>

<pre>
  <!-- {{sourceEstudiantesRegistrados |json}} -->
</pre>