<div class="card card-accent-info">
  <div class="card-header border-dark" style="background-color: #004a73">
    <label class="h5 text-white" style="margin: 0% 0%">Matriz de Marco Lógico </label>
  </div>
  <div class="col-sm-12">
    <div class="card card-accent-info">
      <div class="card-header">
        <h6 style="padding: 0; margin: 0;">OBJETIVOS: Fin - Propósito - Componente</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card-body" style="padding: 0; margin: 0 15px -15px;">
      <jqxMenu (onItemclick)="itemclickObjetivo($event)" [source]="menusObjetivo" [theme]="'ui-redmond'" [width]="'100%'">
      </jqxMenu>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card-body">
      <jqxGrid #myGridComponentes [theme]="'ui-redmond'" [width]="'100%'" [source]="dataGridComponentes"
        [columns]="columnsComponente" (onRowclick)="Rowselect($event)" [ready]="ready" [pageable]="true"
        [columnsresize]="true" [autoheight]="true">
      </jqxGrid>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card card-accent-info">
      <div class="card-header">
        <h6 style="padding: 0; margin: 0;">TAREAS</h6>
      </div>
    </div>
  </div>
  <jqxScheduler #schedulerReference [theme]="'ui-redmond'" [date]="date" [width]="'100%'" [height]="600"
    [source]="dataAdapter" [showLegend]="true" [view]="'weekView'" [appointmentDataFields]="appointmentDataFields"
    [resources]="resources" [views]="views" (onCellDoubleClick)="CellDoubleClick($event)" [editDialog]="false"
    (onAppointmentAdd)="generarAppointmentAdd($event)" [localization]="localization"
    (onAppointmentDoubleClick)="AppointmentDoubleClick($event)" [date]="date">
  </jqxScheduler>
</div>
<app-modal-component></app-modal-component>
<app-modal-actividades (PassMethods)="procesaPassMethodsActividades($event)"></app-modal-actividades>
<app-modal-tareas (PassMethods)="procesaPassMethodsTareas($event)" [proyecto]="proyecto"></app-modal-tareas>